[2018-02-01 10:51] sindresorhus opened #1 "Discussion"
I'm having a couple of problems with libgifski. I'm probably using it incorrectly, but I've been stuck on it.

Update the paths in https://github.com/sindresorhus/gifski-draft/blob/793d9289961524667d47bc9d18a675166a374149/Gifski/AppDelegate.swift#L21 to your paths before testing.

---

The produced GIF has the wrong colors:

![test](https://user-images.githubusercontent.com/170270/35674662-f3f1997

[2018-02-23 02:49] sindresorhus commented on #1
The repo is now public as we're linking to it in the app and it's a requirement that it exists for the review to be accepted.

[2018-02-23 02:49] #1 closed

[2018-02-23 03:14] sindresorhus opened #4 "Add FPS option"
It could be useful to have an FPS (Frames per second) option in the save dialog. It should be a slider that goes from `5` to `30`.

[2018-02-23 04:46] sindresorhus opened #5 "Add ability to cancel the conversion"
The implementation is easy to do. Just return `0` [here](https://github.com/sindresorhus/gifski-app/blob/0cc99c225d3ce20d43582ca6f183f96ea93f2ce3/Gifski/Gifski.swift#L56) when a cancel button is clicked, and change `isRunning` to `false`. We also need to clean up the unfinished file.

I'm not sure yet how to present the button in a nice way in the UI. Suggestions welcome!

[2018-02-23 08:33] alimuqaddas commented on #5
When i cancelled the conversion, i liked the Gif still as it has the output still there. I don't feel deleting is to be added as a new feature.

[2018-02-23 08:33] alimuqaddas commented on #4
Yes, thats what i was looking for.

[2018-02-23 10:07] sindresorhus commented on #5
@alimuqaddas Why? That doesn't make much sense to me. The general rule is that apps should clean up their mess.

[2018-02-23 10:13] sindresorhus opened #7 "Fix TODOs in code"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/gifski-app/issues/7/badge.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/7)

I could use some help with these:
https://github.com/sindresorhus/gifski-app/search?l=Swift&q=TODO&type=&utf8=%E2%9C%93

[2018-02-23 12:52] alimuqaddas commented on #5
It wasn't a mess, the app didn't left useless leftovers, rather the app
left something which had a fair output. I don't suggest deleting the file,
although you can user if they want to delete.

On 23 Feb 2018 3:08 pm, "Sindre Sorhus" <notifications@github.com> wrote:

[2018-02-23 13:51] kornelski commented on #4
FPS change is something I want to have in the CLI version as well, so I'll add it to the underlying library.

[2018-02-23 20:56] matt-jarrett commented on #5
If I cancel the conversion, it seems likely to me that I did that for a reason and I’d like the app to clean up the canceled order.

If I order food and then cancel my order I don’t want the waiter to bring me half cooked food right?

:smiley:

[2018-02-24 08:52] #4 closed

[2018-02-24 08:53] sindresorhus commented on #4
Here's how it looks:

![screen shot 2018-02-24 at 15 53 03](https://user-images.githubusercontent.com/170270/36627793-dffe3870-197a-11e8-8c24-37be497f0e50.png)

[2018-02-25 21:02] paulirish opened #8 "App doesn't launch"
After installing from Mac Store it fails to run

Running from Finder I get:

Running from terminal:

[code]

I'm gonna try building from source now.. :p

update: i gave up building from source after this error building `imagequant-sys v2.11.9`: `unsupported option '-fopenmp'`. not ready to upgrade my clang. :/

[2018-02-25 22:33] kornelski commented on #8
First, congratulations. According to Google you're the first person on the web to be missing the `__TMSi` symbol.

From the log it seems like a bizarre incompatibility of Swift in your Xcode installation with Swift used in the app. Why did it involve Xcode at all in loading of a regular app, I have no idea.

What's your exact macOS version?

----

As for the build, the GCC version is faster. `brew

[2018-02-25 22:46] LarsJK opened #10 "Layout issues in the save panel accessory view"
Noticed some layout issues when running master:

<img width="714" alt="image" src="https://user-images.githubusercontent.com/1528255/36647439-0490cc8c-1a86-11e8-80bb-ce66c044c6cb.png">

[2018-02-25 22:50] LarsJK commented on #7
Why do you need isRunning in Gifski.swift?

[2018-02-26 03:33] #10 closed

[2018-02-26 03:39] sindresorhus commented on #8
Yeah, that should not even happen. The Swift framework is bundled in the app.

[2018-02-26 03:48] sindresorhus commented on #8
According to iTunes Connect, there has been only one case of this crash.

The same computer that experienced this crash also got:

[code]

[2018-02-26 04:09] sindresorhus opened #11 "Master crashes"
@kornelski When I "archive" master and run the app, it crashes if I don't have `gcc` installed (try with `brew uninstall gcc`).

[code]

Why is it trying to load the dynamic library of `libgomp`?

[2018-02-26 05:09] paulirish commented on #8
I actually upgraded to High Sierra just to use gifski. :)

I'm at `10.13.3 (17D47)`

My installed XCode version is `8.3.3` fwiw. brew wants me to upgrade that for gcc, so we'll know if xcode 9.2 installed fixes running the app.

Not a huge deal, guys. :) But figured I'd make the issue.

[2018-02-26 05:25] paulirish commented on #8
yup. xcode 9.2 installed and the original problem went away. bizarre.

[2018-02-26 05:25] #8 closed

[2018-02-26 07:52] azizbekian opened #12 "Termination Reason: DYLD, [0x4] Symbol missing"
Runs normally on 2016 MacBook Pro. Fails to run on 2015 MacBook Pro with following report:

<details>
<summary>
Crash report
</summary>

[code]

</details>

[2018-02-26 10:30] kornelski commented on #8
Dupe #12

[2018-02-26 10:31] kornelski commented on #12
This is (bizarrely) caused by presence of an old version of Xcode on your system. Please upgrade Xcode.

[2018-02-26 16:12] #11 closed

[2018-02-27 05:01] sindresorhus commented on #12
@azizbekian A new version is out in the app store. Can you update and try again?

[2018-02-27 06:36] sindresorhus commented on #7
@LarsJK Regarding https://github.com/sindresorhus/gifski-app/blob/9171917ccf7e0188477e8a93b6278cace7cbe0ed/Gifski/SavePanelAccessoryViewController.swift#L37, can you think of a better way to pass the info from the save panel back to the app delegate? I feel like I'm missing something obvious. Another way would be to set an `onDone` closure on the accessory which the accessory would use to pass inf

[2018-02-27 07:11] sindresorhus opened #14 "Improve Dock icon progress animation"
Right now it only updates once per video frame we process. So the longer the video is, the smoother the progress animation is. That also means it will be pretty choppy on short clips. The main window progress circle uses CALayer which animates between the progress events. This is however not possible for the Dock icon as we have to call `.display()` manually each time we want to update it. I tried

[2018-02-27 10:01] LarsJK commented on #7
I agree that referencing the app delegate is not the best solution.

This is usually done through a delegate protocol.
A closure is an alternative but you need to take extra care to avoid reference cycles.

I'm thinking we might want to move some code from the AppDelegate into a WindowController and ViewControllers too.

[2018-02-27 10:26] sindresorhus commented on #7
Not a big fan of delegate protocols, but happy to consider it if you think it's the best solution.

Agreed

[2018-02-27 11:34] LarsJK commented on #7
Knowing when to use strong, self, unowned in closures to avoid reference cycles is actually one of the things I struggle with in swift, so I kinda like delegates 😄

It probably doesn't matter in this case (since AppDelegate will always be around..) but I think we have this exact problem in AppDelegate.

AppDelegate has a strong reference to the Gifski instance, with has a strong reference to the o

[2018-02-27 11:44] sindresorhus commented on #7
Yeah, I wish Swift would handle that for us...

[2018-02-27 13:14] melMass opened #15 "Sierra Support ?"
Hello,

Is there a way to add `if #available(OSX 10.13, *) {` to make it backward compatible ?

Thanks

[2018-02-27 14:43] sindresorhus commented on #15
There probably is, but it's not something I'm interested in doing or maintaining. Happy to link to a fork if anyone wants to maintain Sierra support though.

[2018-02-27 14:43] #15 closed

[2018-02-28 07:01] sindresorhus commented on #12
I got another report about this from @SamVerschueren:

[code]

[2018-02-28 07:26] sindresorhus commented on #12
@kornelski I found some hints that might help here: https://github.com/realm/SwiftLint/issues/169 and https://github.com/realm/SwiftLint/pull/244/files

[2018-02-28 09:42] kornelski commented on #12
Sounds plausible. (I can't check now, I'll be away from xcode for a few days)

[2018-02-28 17:18] azizbekian commented on #12
Just updated. Received following crash at start time:

[2018-02-28 17:42] sindresorhus commented on #12
@azizbekian Can you try upgrading Xcode as suggested earlier in the thread?

[2018-02-28 18:58] SamVerschueren commented on #12
I had to install XCode Essentials and then it worked.

[2018-03-01 00:19] wuweiweiwu commented on #14
@sindresorhus This looks interesting! Ill poke at it this weekend

[2018-03-01 11:05] azizbekian commented on #12
One of following approaches will work:

- Uninstalling XCode and installing Xcode Command Line Tools
- Updating XCode to the latest version

[2018-03-01 12:06] kornelski commented on #12
Gifski loads libraries from `@rpath`, which I presume may include any arbitrary directory in libs search path, including Xcode's.

In Sparkle we've changed that to `@loader_path/../Frameworks` to specifically link the library from apps' own frameworks directory.

So doing that for Swift libs in Gifski.app might help.

https://github.com/sparkle-project/Sparkle/issues/420

[2018-03-01 20:35] sindresorhus commented on #14
@wuweiweiwu Great!

FYI, I moved the code into a separate package, so this issue is now continued at: https://github.com/sindresorhus/DockProgress/issues/1

I'm keeping this issue open, but locked, for discovery.

[2018-03-03 22:01] kornelski opened #17 "Errors during encoding crash the app without user-visible explanation"
https://github.com/sindresorhus/gifski-app/blob/a49430de68c66808925cfa214da385e1aeec56b8/Gifski/Gifski.swift#L89

`fatalError` seems to be a nuclear option which makes the app crash. From user perspective the app disappears without explanation.

`fatalError` shouldn't be used. Instead, the app should show a message box.

----

Example crash log:

Fatal error: Error with image 0: Error Domain=AVFou

[2018-03-04 06:32] sindresorhus commented on #17
Agreed. Even better if we show a dialog about posting the issue on GitHub.

Do you have the image the caused this issue? Would be helpful to investigate why it failed.

[2018-03-05 05:44] sindresorhus commented on #17
We got sent the video clip for this issue privately and I looked into it. It uses the [QuickTime Animation](https://en.m.wikipedia.org/wiki/QuickTime_Animation) codec, which it seems AVFoundation cannot use out of the box.

`AVAsset` returns the following for it:

[code]

When opening the video in QuickTime, it shows `Converting…` for some seconds.

[2018-03-05 05:52] sindresorhus commented on #17
I've improved the supported video detection in https://github.com/sindresorhus/gifski-app/commit/67ac3cd6774ea0bb84880c29e1b37ee220701c16

[2018-03-12 05:57] parthshah000 opened #22 "App is not getting open"
While open the app it shows the error dialog.
Mac OS Version: 10.13.3
![screen shot 2018-03-12 at 11 23 36 am](https://user-images.githubusercontent.com/10954475/37267699-08964100-25e8-11e8-9cdd-a8ddaddf0aad.png)

[2018-03-12 07:33] sindresorhus commented on #22
Can you try out this build? https://dsc.cloud/sindresorhus/Gifski.app.zip

[2018-03-12 07:36] parthshah000 commented on #22
Still the same issue.

[2018-03-12 07:39] sindresorhus commented on #22
Exactly the same error? Can you post the error?

[2018-03-12 07:41] parthshah000 commented on #22
[code]

[2018-03-12 08:17] sindresorhus commented on #22
Thanks for your patience while we try to figure this out.

[2018-03-12 08:21] sindresorhus commented on #22
Could you try this build? https://dsc.cloud/sindresorhus/Gifski.app-try2.zip

[2018-03-12 08:30] sindresorhus commented on #22
Awesome!

Can you try out this build too? So I can narrow down what change fixed it: https://dsc.cloud/sindresorhus/Gifski.app-try3.zip

[2018-03-12 08:51] sindresorhus commented on #22
Ok, uploaded now: https://dsc.cloud/sindresorhus/Gifski.app-try3.zip

[2018-03-12 09:19] parthshah000 commented on #22
Again showing an error in try-4. :(

[2018-03-12 09:27] sindresorhus commented on #22
How about this https://dsc.cloud/sindresorhus/Gifski.app-try5.zip ?

[2018-03-12 09:42] parthshah000 commented on #22
It works. Try-5 👍

[2018-03-12 09:45] sindresorhus commented on #22
Thanks for the help debugging this. I'll include a fix in the next release.

[2018-03-12 09:45] sindresorhus commented on #22
Note to self: The problem is caused by having embedded frameworks, currently `ProgressKit` and `DockProgess`. When we remove those, the error goes away.

[2018-03-12 09:46] parthshah000 commented on #22
Happy to help.

[2018-03-13 08:51] esimov opened #23 "Option to cancel and to pause the process"
It would be great to have an option to cancel and to pause the conversion process. If i wish to cancel the current process the only option is to shut down the application. In this case the exported qif file is not getting deleted.

[2018-03-13 09:06] sindresorhus commented on #23
Duplicate of #5

[2018-03-13 09:06] #23 closed

[2018-03-13 09:47] sindresorhus commented on #23
@esimov The referenced issue is still open, so no, it's not yet implemented.

[2018-03-13 17:29] #12 closed

[2018-03-13 17:29] #22 closed

[2018-03-13 18:05] sindresorhus opened #25 "UI ideas"
Now that the app is almost feature complete, I'd like to explore some UI ideas. The app honestly looks a bit boring.

[2018-03-13 18:07] sindresorhus commented on #25
We could give it some retro style, like the icon:

<img width="711" alt="screen shot 2018-03-14 at 01 06 19" src="https://user-images.githubusercontent.com/170270/37360847-f6a217fc-2723-11e8-8797-22189eb417e5.png">

[2018-03-13 19:07] kornelski commented on #25
Showing currently encoded frame (effectively playing in slow-mo) is possible.

[2018-03-13 19:08] kornelski commented on #25
the ✔️ checkmark at the end is meh. Maybe replace it with a proxy icon for the encoded file, so people can drag it directly from the app, without having to dig it out in Finder?

[2018-03-13 19:26] sindresorhus commented on #25
I agree the checkmark is meh. Not sure whether we should have a proxy icon or just a button to show the file in Finder.

[2018-03-13 19:29] sindresorhus commented on #25
How do you imagine we would show the actual progress of the conversion with this?

Probably difficult, but would be cool to show the GIF frames in a [flipbook style animation](https://www.youtube.com/watch/?v=OoFUtoyr7i0).

[2018-03-13 19:37] kornelski commented on #25
I thought about revealing animation from inside the progress, pie-chart like. OR having faded-out (half bright) animation in the window background, with black circle background for the progress.

flipbook would be cool. A task for https://developer.apple.com/scenekit/ ?

[2018-03-13 19:58] sindresorhus opened #26 "Support lower quality"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24200%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/26)

High-quality is awesome, but sometimes I need to use this for longer clips.

@kornelski Is there any way we could support a lower quality mode? I know we have a quality slider, but even with it at 0%, the file is huge.

---

<details

[2018-03-13 21:31] LarsJK commented on #25
Could fill the window with the current frame and and have a transparent pie-chart progress animation above. Like iOS app install/updates..

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-14 00:12] kornelski commented on #26
Yea, files can be made smaller.

The existing quality setting isn't really that good for reducing file size. It just happens a little bit as a side effect of making it uglier.

Bigger reduction could be from reducing movement in the animation, especially cropping area that changes between the frames. I'll look into it.

And ideally it should use giflossy. That gives easy 50% reduction with less qu

[2018-03-14 02:46] sindresorhus commented on #26
`giflossy` has an alternative license which we comply with:

I read that as it's fine to distribute `giflossy` as long as the source is available, which it is.

[2018-03-14 07:52] kornelski commented on #26
That is under a condition that the author agrees to grant alternative license (the MUST part three)

In the App Store Apple is the distributor and they explicitly refuse to comply with the. GPL.

[2018-03-14 08:07] sindresorhus commented on #26
Can we ask the author then?

[2018-03-14 17:10] kornelski commented on #25
BTW, Valera has sent an updated icon. How do you like it?
![icon](https://user-images.githubusercontent.com/72159/37418616-884a50d0-27aa-11e8-8c48-ecea3167f2a2.png)

[2018-03-14 18:02] sindresorhus commented on #25
It's a good looking logo, but I don't think it's a good fit for a macOS app icon. The white `G` is IMHO too noisy.

[2018-03-14 23:43] briankerr commented on #25
First off, cool app!

I found the scale slider hard to use. I was trying to take a video 3520 pixels wide down to 880 pixels wide (1/4th the size) and couldn't get the slider to land on 880. I ended up getting close enough to 880 pixels where you couldn't tell that it was off a little.

An example:

![output](https://user-images.githubusercontent.com/7181293/37436674-078da17e-27b7-11e8-995d-9643a0

[2018-03-15 13:06] jasonlong commented on #25
Big fan of Gifski! Here's a quick concept that came to mind since, as @kornelski mentioned, the current frame could be shown.

![gifski-1](https://user-images.githubusercontent.com/6104/37464821-ed8855fc-282f-11e8-8c52-5feb2b48a9e7.png)
![gifski-2](https://user-images.githubusercontent.com/6104/37464822-eda369be-282f-11e8-93a4-ede063b478da.png)
![gifski-3](https://user-images.githubusercontent.com

[2018-03-17 17:18] ljf1239848066 opened #27 "It takes up too much CPU"
It takes up too much CPU and dozens of minutes just convert a small video.

[2018-03-17 18:34] kornelski commented on #27
Yes, indeed. Try reducing GIF resolution or framerate.

[2018-03-17 18:39] kornelski opened #28 "File size and frame rate defaults"
To avoid creating huge/wasteful GIFs, I suggest having smart defaults.

* If resolution is >= 640px wide, halve it. Videos have chroma subsampling and compression artefacts that are wasteful in GIF, so halving resolution for GIF is a good idea anyway.
* If framerate is >= 24fps, halve it. Frames cost a lot in GIF.

[2018-03-17 18:41] sindresorhus commented on #28
What do you mean by "halve it"? People expect to get the resolution they chose.

[2018-03-17 19:24] sindresorhus commented on #25
Yes, I agree, and I've gotten feedback elsewhere about this too. I'm open to suggestions. I would prefer not having to introduce a text field for this. Maybe just limit the steps width of even numbers?

I honestly never thought of this use-case of having an exact percentage of the original size. We could maybe show the percentage in addition to the dimensions.

[2018-03-17 19:27] sindresorhus commented on #25
I like the idea of showing the GIF frames as they're being processed. @jasonlong's proposal looks very good. Anyone else wanna try some variations of this?

[2018-03-17 19:29] skllcrn commented on #25
Spent a few minutes with this, basing my work on https://github.com/sindresorhus/gifski-app/issues/25#issuecomment-372763603 and Valera's work that @kornelski posted.

To me it felt like there was an overrepresentation of purple in what's you've referred to as the "rainbow", and I wanted to expand the palette.

![icon](https://user-images.githubusercontent.com/8440026/37559124-cf50d4ae-2a20-11e8-9

[2018-03-17 20:47] kornelski commented on #28
I mean setting sliders in the UI to that value when the window is opened.

Instead of defaulting values set in the UI to values read directly from the video, default to values from the video adjusted to make more sense.

[2018-03-17 20:55] kornelski commented on #25
For the slider, I suggest adding ticks that are a union of these sets:

* 1/nth of the input size: 1/2, 1/3, 1/4, 1/5, …, etc.
* a predefined list of common sizes: 960, 800, 640, 480, 320, 256, 160, 128, 80, 64

AFAIK Cocoa doesn't support arbitrary tick positions, but the slider doesn't have to be linear.

[2018-03-19 06:47] sindresorhus commented on #28
Ah ok. Yes, I agree.

[2018-03-19 22:04] LarsJK commented on #28
I added a fix for this.

However the scale slider has a minimum value of 0.2. Should do something about this?

If I record a fullscreen recording it will be 3360 × 2100 with means I can't make a gif smaller than 672 x 420.

[2018-03-19 22:08] LarsJK commented on #28
Maybe define a minimum dimension and set the minimum scale dynamically based on that..?

[2018-03-20 13:38] kornelski commented on #28
I've made suggestion for the dimensions here https://github.com/sindresorhus/gifski-app/issues/25#issuecomment-373951951

[2018-03-29 13:06] valeranazarov commented on #25
Hi all! Here are some more variations of the app icon. Maybe you'll like one of them. Also, I created some sketches of app UI and loading animations. But before I'll show it, I need to understand what kind of style to use (based on the app icon).
![gifski icon variations](https://user-images.githubusercontent.com/17197800/38090349-9e9aea46-33a5-11e8-96a0-d24f81ba3a8e.png)

[2018-03-29 15:03] valeranazarov commented on #25
Aaaaand two more
![gifski icon variations part 2](https://user-images.githubusercontent.com/17197800/38096432-3426f734-33b6-11e8-8d27-2a9ee466fa71.png)

[2018-05-10 10:58] pnbv opened #33 "Resulting file size vs gifski-cli"
Hello,
I'm getting 30%-40% smaller file sizes while using this app versus the gifski cli tool on the same input material.
Could anyone give some pointers into where/how this difference happening?

Thank you very much,
pedro

[2018-05-10 16:43] kornelski commented on #33
The app and CLI use exactly the same compression, so the difference can be caused by:

- different output from video decoder (e.g. I've noticed ffmpeg gives more blocky color channels), but it's unlikely to cause that much difference,

- or different settings. That's most likely. The app chooses defaults for size and quality, and the cli doesn't.

[2018-05-11 14:05] pnbv commented on #33
Thank you.
I did try to mimick the app settings but these in some cases do not display a precise value (quality, just a slider)
Will investigate further.
Thanks again!

[2018-06-12 05:45] sindresorhus opened #34 "Build failure"
I get a build failure when compiling the app now. I think it might be related to installing the latest Xcode 10 beta. Even though I'm compiling from the latest stable Xcode 9.

[code]

[code]

@kornelski Any ideas?

[2018-06-12 05:47] sindresorhus opened #35 "Fix Xcode 10 warning"
When compiling Gifski.app in Xcode 10 beta, I get this warning:

[code]

// @kornelski FYI

[2018-06-12 07:36] LarsJK opened #36 "Add predefined size dropdown"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/gifski-app/issues/36/badge.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/36)

We should consider changing the slider scale to a dropdown of predefined sizes and textfields for precise control.

Something like what preview.app has:

![41196637-6a6871ac-6c45-11e8-87ce-3e2e72986592](https://user-images.githubuserco

[2018-06-12 07:52] LarsJK commented on #34
Have you tried clearing out derived data and doing a full clean and build?

I dont see the same issues myself.. Are you on 10.12?

[2018-06-12 08:04] sindresorhus commented on #34
Yup, tried that. I'm on 10.13.5.

[2018-06-12 09:23] kornelski commented on #35
I have no idea what a headermap is and what that thing is about.

[2018-06-12 09:30] kornelski commented on #34
The error happens because Running `cc` or `gcc` can't find such executable.

[2018-06-12 09:46] sindresorhus commented on #35
I tried setting the build settings `USE_HEADERMAP` and `ALWAYS_SEARCH_USER_PATHS` to `NO`, but then the bridging header could no longer import libgifski.

[2018-06-12 09:54] kornelski commented on #34
I've published updated version of openmp-sys that has more information in this case. Run `cargo update` in the directory containing `Cargo.toml` to get the updated version.

[2018-06-12 10:05] sindresorhus commented on #34
[code]

[2018-06-12 10:06] sindresorhus commented on #34
Why is `CC` hard-coded in the Xcode config to `gcc-7`? Turns out I have `gcc-8`.

[2018-06-12 10:07] sindresorhus commented on #34
Changing it to `CC=gcc-8` results in other errors:

[code]

[2018-06-12 10:18] kornelski commented on #35
https://developer.apple.com/search/?q=headermap

I'm surprised there's no KB article for this, so I've filed a rdar about it being undocumented.

----

I think adding `USER_HEADER_SEARCH_PATHS = "$(SRCROOT)/gifski-api";` to project config should help.

[2018-06-12 10:27] kornelski commented on #34
Yeah, gcc-7 is hardcoded :(

To make it worse, *my* Xcode doesn't even have Homebrew's binaries in `PATH`, and I'm not sure how to make Xcode homebrew-aware.

`brew --prefix gcc` finds the right path, but the executable name is still version-dependent. So getting the path requires scripting something like `$(brew --prefix gcc)/bin/gcc-?`. AFAIK Xcode's config doesn't support any dynamic/scripting

[2018-06-12 13:10] sindresorhus commented on #34
I think we should just require `gcc-8` and update the install instruction from `brew install gcc SwiftLint` to `brew install gcc@8 SwiftLint`

[2018-06-12 13:11] sindresorhus commented on #34
Maybe https://stackoverflow.com/a/43043687/64949

[2018-06-12 14:06] #28 closed

[2018-06-12 15:05] #35 closed

[2018-06-12 15:06] sindresorhus commented on #35
Turns out is enough to just set `ALWAYS_SEARCH_USER_PATHS` to `NO` to silence Xcode. No need to touch `USE_HEADERMAP`.

[2018-07-11 21:35] eonist opened #40 "Becomes default player for mp4 files"
Quicktime should be the designated app to open .mp4. Manually setting gifski to open all mp4 is ok. Setting it by default on install, is a bit overreaching IMO.

Best gif app since Drop2Gif. Gave it 5 stars on the App Store. ✌️

[2018-07-11 21:46] sindresorhus commented on #40
This was fixed in Gifski 1.3.0 (Latest version on the App Store): https://github.com/sindresorhus/gifski-app/commit/a238e0383a5d1c7f7f10ca3731f4a3062f0d12f3

[2018-07-11 21:47] sindresorhus commented on #40
🤩

[2018-07-11 21:50] eonist commented on #40
OK, I just downloaded the app 10 minutes ago. Maybe the Norwegian App Store is out of date or something. I tried to look for the bug in issue search but couldn't find it, so thought I would mention it.

[2018-07-11 22:21] sindresorhus commented on #40
Hmm...

I assumed `Alternative` would make it still prefer the system apps, but it seems that's not true, so I'm going change it to `None`.

[2018-07-11 22:38] sindresorhus commented on #40
Ok, looking at other video conversion apps, it seems all of them declare themselves as a `Viewer` and not `Editor`, so I guess that's the issue.

---

[code]

[code]

[code]

[2018-07-11 22:39] #40 closed

[2018-07-18 20:05] EricShapiro commented on #35
We had the same error message with Xcode 10. The fix was to add a few missing header files to the project itself - just having them in the same directory as the source files is no longer sufficient. (This is the opposite advice Apple gave us 10 years ago, but that isn't much of a surprise)

[2018-09-14 17:06] sindresorhus commented on #34
I've upgraded to Mojave now and building works fine.

[2018-09-14 17:06] #34 closed

[2018-10-16 21:37] eonist opened #41 "Improve file size estimate"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24182%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/41)

GifSki is my go-to gif-app. But,,,,

### Problem 😤
I always have to convert videos 3 times  before I get close to the size I want. Changing FPS, Quality and resolution to hit the sweet spot. Which in my case is usually under 5mb.

##

[2018-10-17 19:19] kornelski commented on #41
It's true that estimated size in the app is very rough. Because of the way GIF and Gifski work, actual size is just impossible to know until entire compression is done.

Can you elaborate on your proposed solution? I don't understand the pseudocode.

[2018-10-17 21:49] eonist commented on #41
No. very rough doesn't cut it. When your estimator says it's going to be 4mb and it ends up being 8mb. the next time it says its going to be 26mb. and it ends up at 3mb. rough is 0.2mb +- IMO

@kornelski I will attempt to elaborate

### ELI5
These are the gif frames in a final gif movie
`[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]`

- It's impossible to know the final size until all frames are convert

[2018-10-18 19:38] kornelski commented on #41
I think you're assuming that size of a GIF is a sum of all sizes of its frames. But that's not true. If you encode frame 10 as a full frame it will be larger than if you encoded frame 10 as a difference between frame 9 and 10. And you don't know the exact difference until you encode frame 9.

[2018-10-18 20:21] eonist commented on #41
@kornelski

Did not know gif anime reused portions of the previous image 👍 Found a small ref to that just now here: [https://en.wikipedia.org/wiki/GIF](https://en.wikipedia.org/wiki/GIF) . IMO It's not really relevant to this scheme though. As this scheme relies on the random chance. And You will hit equal amount of reused bitmaps as you will full bitmaps. Over time it averages out so to speak.

[2018-10-20 14:08] kornelski commented on #41
Refining of the estimate would help. However, I'm wondering how users would react to estimate that keeps changing.

[2018-10-20 17:49] eonist commented on #41
@kornelski You could use the current estimation but have the font be gray. Then when real estimation completes it shows the font in green. Something simple like that. Then if you dial in a different quality etc the font becomes grey again until it realEstimate completes and it becomes green. Also you reuse the completed gif move when you hit convert. The point of all this is that it would save me

[2018-10-22 03:52] sindresorhus opened #42 "Crash report"
In Organizer in Xcode, I see some users are getting a crash at:

https://github.com/sindresorhus/gifski-app/blob/eac104f38a1956351d1265b7af7d456c95c31bfc/Gifski/MainWindowController.swift#L124

But there's no error message, so it's hard to guess what the issue is.

This crash has been reported for every version of Gifski since it was first released.

This is what I'm seeing in Xcode:

<img width="

[2018-10-22 07:12] LarsJK commented on #42
We could use Crashlytics: https://firebase.google.com/docs/crashlytics/customize-crash-reports#add_custom_logs

[2018-10-24 08:54] sindresorhus commented on #42
That guide is for iOS. Fabrics Crashlytics supported macOS, but Google has given no indication of macOS support for Firebase Crashlytics. I also don't trust Google.

[2018-10-24 09:21] LarsJK commented on #42
What about logging the error with SwiftyBeaver?

[2018-10-24 10:33] sindresorhus commented on #42
That could be an option, but how would we get the logs? We would still have to have them uploaded somewhere.

[2018-10-26 05:13] sindresorhus commented on #42
SwiftyBeaver looks good for logging, but it doesn't do automatic crash reporting. I went with Fabrics Crashlytics. It's still operational even with the new Firebase Crashlytics.

[2018-12-29 22:03] Droyk opened #44 "Any chance to get this on windows 10?"

[2018-12-29 22:36] Droyk commented on #44
Okay, thanx.

[2019-01-16 05:45] sindresorhus opened #46 "Progress sometimes doesn't finish"
I have encountered this weird problem where sometimes the dock icon progress indicator would stay stuck at 99.9% even when the progress was finished.

<img width="111" alt="screen shot 2019-01-14 at 14 21 01" src="https://user-images.githubusercontent.com/170270/51228589-bc313200-198b-11e9-9440-3fe4c7177c93.png">

I can reproduce it every time with this video file:

[gifski-app-fixture.mov.zip](ht

[2019-01-16 05:59] sindresorhus opened #47 "Add a Gifski system service"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/gifski-app/issues/47/badge.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/47)

To quickly convert a movie from anywhere to a GIF.

Docs: https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/SysServices/Articles/providing.html

---

**Note:** This is not an easy issue and requires good Swift

[2019-01-17 02:03] sindresorhus opened #48 "Improve the `Show in Finder` button"
An initial version was added in #43, but it could be improved. See the feedback given there.

[2019-01-17 06:20] sindresorhus commented on #41
I would definitely like to see the estimate be improved, even if it's not perfect. @eonist proposal will be a big improvement from what we currently got.

[2019-01-17 10:47] sindresorhus commented on #36
Here are sizing GUI from different apps.

### Pixelmator Pro

<img width="420" alt="screen shot 2019-01-17 at 17 38 23" src="https://user-images.githubusercontent.com/170270/51312864-d6980800-1a7e-11e9-9ced-0f8fe9cceb5a.png">

### Pixelmator

<img width="302" alt="screen shot 2019-01-17 at 17 40 48" src="https://user-images.githubusercontent.com/170270/51312969-0fd07800-1a7f-11e9-900c-1c983858de2c

[2019-01-18 07:54] sindresorhus opened #51 "Update gifski library"
@kornelski Would you be able to update https://github.com/ImageOptim/gifski/tree/master/gifski.xcodeproj to latest Xcode and then update the gifski library in this repo? I noticed it has had a bunch of improvements since the last time we updated: https://github.com/ImageOptim/gifski/compare/94d6339d917b908a2eacbca6eb29599f71d8f96e...master

[2019-01-18 07:56] sindresorhus commented on #51
I'm also seeing a bunch of warnings when compiling now:

[code]

I assume we need to set the target macOS version somewhere, but not sure where.

[2019-01-18 08:28] sindresorhus opened #52 "Show time left estimate during conversion"
It might be useful to show an estimate of the time left during the GIF creation. The conversion speed seems pretty stable, at least from my naive perspective.

@kornelski Thoughts on the best way to calculate it?

---

Note, this is not an easy issue. It's expected that you put a lot of work and perfection into your work.

[2019-01-18 11:44] kornelski commented on #52
Yeah, there will be some uneven progress in the beginning (roughly for the first N frames where N = cpu cores), but then it should be smooth.

[2019-01-18 11:47] kornelski commented on #51
The target version is set via `MACOSX_DEPLOYMENT_TARGET` env var. I'm surprised that you see this, because Xcode generally sets it itself. Check the build log in Xcode — maybe some Xcode target has wrong deployment target set.

[2019-01-18 11:51] kornelski commented on #51
The changes so far were cosmetic, so no rush. As I've mentioned in another thread, I want to make the C API more C-ish, so I'll have a bigger update "soon"

[2019-01-21 05:08] sindresorhus commented on #51
It did indeed have the wrong deploy target, but even after fixing that (https://github.com/sindresorhus/gifski-app/commit/03543bdcd9a0026d052201727f4257f88b73b1fb), I still see the warnings.

[2019-01-21 06:29] jajaperson opened #53 "Homebrew cask?"
I was wondering if it would be possible to add Gifski as a homebrew cask?

Yep that's basically it.

[2019-01-21 06:49] sindresorhus commented on #53
Feel free to add it :)

I'm not interested in doing the work of keeping it updated there though. The process is too annoying.

[2019-01-21 06:49] #53 closed

[2019-01-22 07:40] #5 closed

[2019-01-25 20:34] sentialx commented on #48
Would it be okay?
![](https://i.imgur.com/l2wGkYx.png)

[2019-01-25 20:45] sindresorhus commented on #48
Looks a bit uneven. Should probably be centered.

---

From the linked discussion:

It should also have a proxy icon that can be dragged.

[2019-01-25 20:49] sentialx commented on #48
Okay, I will see what I can do about this.

[2019-01-25 20:57] sindresorhus commented on #48
Here's a quick mockup of what I have in mind. Feedback wanted.

![gifski-share-view-mockup](https://user-images.githubusercontent.com/170270/51772278-2b421f80-211e-11e9-8eda-d1ad0fcb9340.png)

The thing in the middle is a file icon (proxy icon) that is draggable.

I would also like to see the system Share button being placed somewhere there too, to able to quickly share the GIF.

[2019-01-25 23:11] kornelski commented on #48
Maybe Finder's alias arrow would make it clearer that this is a proxy icon? <img  alt="alias arrow" src="https://user-images.githubusercontent.com/72159/51777742-45680780-20f6-11e9-88b7-5ffa3b85e316.png">

There's also NSRevealFreestandingTemplate named image for a loupe icon that means revealing in Finder. I'm not sure if it's necessary, but it's an option if you'd like more compact UI or avoid w

[2019-01-25 23:14] kornelski commented on #48
Finder shows size underneath the file name, in a smaller font

<img alt="screenshot 2019-01-25 at 23 13 49" src="https://user-images.githubusercontent.com/72159/51777866-f1a9ee00-20f6-11e9-807a-ad4fec2be8ef.png">

[2019-01-25 23:17] sentialx commented on #48
Okay, here's what I have at the moment. Dragging the file works, but when dropping nothing happens. I'm using `NSFilePromiseProvider` but there is almost no documentation for it.

![](https://i.imgur.com/8D8fiFM.png)

[2019-01-26 01:16] sentialx commented on #48
Is this what you wanted? The file size and the name are not real. Of course I will get the file data, but I was focusing on the proxy icon. See how it works
![](https://media.giphy.com/media/2yzgN1qL40WL2nK17D/giphy.gif)

[2019-01-28 12:32] boyvanamstel commented on #46
Thanks :)

[2019-01-29 14:08] sindresorhus commented on #48
@sentialx Yes, but the icon should be a little bit larger and I think we should go with what @kornelski shows in https://github.com/sindresorhus/gifski-app/issues/48#issuecomment-457767394, with the size below the title and in smaller font.

[2019-01-29 14:15] sindresorhus commented on #48
The problem with `NSRevealFreestandingTemplate` is that it cannot really be used in a button, but the share icon should. It's probably best if the two buttons, "reveal" and "share", are on the same vertical line, below the icon, so would be best if they looked the same.

For reference, here's how they look (top and bottom icon):

<img width="72" alt="screen shot 2019-01-29 at 21 14 06" src="https:

[2019-01-29 17:57] sindresorhus commented on #48
Yeah, let's try with some pulsating first and see how it feels.

[2019-01-29 17:59] kornelski commented on #48
Maybe you could animate the icon as dropping into the window? Give it some physical motion so that it doesn't feel attached to the window.

[2019-02-04 09:17] sindresorhus opened #61 "Add metadata?"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/61)

Would it maybe be useful to add metadata that the GIF was created with Gifski?

Seems like we can use [`kCGImagePropertyIPTCOriginatingProgram`](https://developer.apple.com/documentation/imageio/kcgimagepropertyiptcoriginatingprogram)

[2019-02-04 14:10] kornelski commented on #61
Is that stored in a resource fork, or in the GIF file itself? If the latter, it may be better to do it in gifski lib.

[2019-02-12 05:49] sindresorhus commented on #61
Probably in a resource fork since GIF has limited metadata support. It does seem like GIF has XMP support though: http://fileformats.archiveteam.org/wiki/GIF#Metaformat_files So maybe Gifski lib could embed it as an XMP metadata chunk?

[2019-02-12 16:50] kornelski commented on #61
If you can put it in resource fork, then that's fine.

XMP sounds icky.

GIF has some extensions for "comments" and "application". I'd need to check if these are exposed in macOS in a useful way.

[2019-02-13 15:50] jrunning opened #62 "Integrate with Mojave screen recording/QuickLook UI"
I don't *think* this is a duplicate of #47, but please close if it is.

macOS Mojave has a great new [screen recording UI](https://support.apple.com/en-us/HT208721#mojave). When you finish a screen recording, it shows a thumbnail in the corner of the screen. You can right-click on the thumbnail to see this menu:

<img width="306" alt="screen shot 2019-02-13 at 9 46 15 am" src="https://user-images.

[2019-02-13 18:19] sindresorhus commented on #62
There's unfortunately no way for apps to add items to that menu. It's very surprising it doesn't have a `Open With` menu, like when right-clicking a file in Finder. That would solve this quite nicely. I have opened a feature request with Apple about this: https://openradar.appspot.com/radar?id=4966552080220160

Yeah, we could consider having a share extension, but this is really not what Share ext

[2019-03-10 09:11] #48 closed

[2019-03-14 15:05] brumm opened #64 "Green line artifact on right side of gif"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/gifski-app/issues/64/badge.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/64)

# The bounty for this issue now applies to https://github.com/sindresorhus/Gifski/issues/183 instead.

---

Hey,

I'm seeing green artifacts on the right side of the resulting gif. The input video file is taken straight from the Mojave

[2019-03-25 06:30] #52 closed

[2019-03-25 08:19] sindresorhus commented on #64
Could you share the original recording? (Just ZIP it and attach it here) So I can reproduce it locally.

[2019-03-25 09:59] brumm commented on #64
Sure thing!

[Screen Recording 2019-03-14 at 15.53.36.mov.zip](https://github.com/sindresorhus/gifski-app/files/3002645/Screen.Recording.2019-03-14.at.15.53.36.mov.zip)

[2019-03-25 10:40] sindresorhus commented on #64
I can reproduce the problem when converting the video to PNG frames using ffmpeg too:

[code]

This is what I end up with:

![frame0001](https://user-images.githubusercontent.com/170270/54913098-993f7300-4f24-11e9-9006-1841184e6938.png)

[2019-03-25 10:44] sindresorhus commented on #64
I think it's because the dimensions of the video is 384x529, which is a problem, as both sides have to be divisible by 4.

@kornelski Any thoughts what we could do about this?

[2019-03-25 11:13] sindresorhus opened #66 "Press `Space` key to open the GIF in Quick Look"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/gifski-app/issues/66/badge.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/66)

Add ability to press `Space` key to open the GIF in Quick Look in the conversion completed view.

There should also be a menu bar item for it called "Quick Look".

When you press Space, the existing thumbnail should animate into the Qu

[2019-03-25 13:04] kornelski commented on #64
If AVFoundation and ffmpeg both agree that there's a green line there, there's a green line there.

It looks like Mojave is encoding the video incorrectly, so I'd report that to Apple as a bug in the screen recording tool.

The cause of this is probably an off-by-one error in the size of the chroma channel. If you really wanted a workaround for this, you could try decoding the video into planar YU

[2019-03-27 08:08] geordiemhall opened #67 "Allows creating gifs without a filename extension"
I was just just doing some throwaway gifs and quickly typed "test" into the filename field, expecting the ".gif" extension to be added automatically once I pressed enter, but instead it just dutifully created a file named "test" without any extension.

Photoshop and those sort of apps usually just add the extension for you when you click Save (or press enter) based on the currently selected file t

[2019-03-27 09:09] #67 closed

[2019-03-27 09:10] sindresorhus commented on #67
Thanks for reporting :)

[2019-03-27 16:31] sindresorhus opened #68 "Various minor improvements"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24200%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/68)

Various things I'd like to see fixed/improved:

- [ ] https://github.com/sindresorhus/gifski-app/blob/833fd28d1eed5c989a82af922229b35a59c1f560/Gifski/ConversionCompletedView.swift#L56
- [ ] https://github.com/sindresorhus/gifski-app/

[2019-03-27 19:43] sindresorhus opened #69 "Crashlytics - Crashed: `com.apple.coremedia.assetimagegenerator.notifications`"
This is the crash report:

[code]

I have a feeling we're not correctly handling the case where `generateCGImagesAsynchronously` fails to generate an image.

https://github.com/sindresorhus/gifski-app/blob/72ee7fe3c58a9fc9c7c739a4e6466a83a6ae4573/Gifski/util.swift#L309-L353

[2019-03-27 23:58] indexzero opened #70 "WebP support"
As a user I make gifs for primarily two reasons:

1. **Converting screen captures** Gifski crushes it.
2. **Converting `webp` search results on Giphy** webp is not supported so I 😭 a little.

I want to say I can help contribute the fix, but I will be honest about my availability. Please keep up the awesome work on gifski.

p.s. I would happily have paid like $3.99 for this in the App Store.

[2019-03-28 08:20] sindresorhus commented on #70
Do you mean that the GIFs on Giphy are in WebP format?

Hehe. Thanks for the encouragement, but Gifski will be forever free.

[2019-03-28 12:58] indexzero commented on #70
Yes. Many are. It's not consistent.

[2019-03-28 13:31] sindresorhus commented on #70
I think supporting WebP as input is a bit out of scope for this app.

It would be better to create a Chrome extension that uses the [Giphy API](https://developers.giphy.com/docs/) to inject a GIF download link on every Giphy page.

[2019-03-28 13:31] #70 closed

[2019-03-28 16:31] chriscalo opened #72 "Generate GIF without asking for location"
# Proposed interaction

1. User: drag-drops a video file onto the Gifski app window
2. App: immediately generates gif in a temp (cache) path and displays percent-complete progress
3. App: once GIF is created, a draggable preview thumbnail is displayed alongside 4 action buttons:
    - **Show in Finder**: same as today
    - **Share**: same as today
    - **Move to**: opens dialog for user to choos

[2019-04-02 19:55] sindresorhus commented on #69
Looks like this was fixed by https://github.com/sindresorhus/gifski-app/commit/0edd7503de704f5c765c3ae752afc0c2793a4ed5.

[2019-04-02 19:55] #69 closed

[2019-04-02 19:55] sindresorhus commented on #42
This was fixed by https://github.com/sindresorhus/gifski-app/commit/833fd28d1eed5c989a82af922229b35a59c1f560.

[2019-04-02 19:55] #42 closed

[2019-04-02 19:56] sindresorhus commented on #17
No crashes in the latest version 🎉

[2019-04-02 19:56] #17 closed

[2019-04-02 19:58] sindresorhus commented on #27
Closing as this is not actionable. Converting to GIF does take a lot of CPU. I have personally not noticed that it takes too much though.

[2019-04-02 19:58] #27 closed

[2019-04-12 06:58] eonist commented on #72
Totally agree. Make all things like this ephemeral. Let's do it 💪

- Store in the app cache
- Empty app cache on start and quit
- Add checkbox in prefs: Ephemeral mode (on/off) (IMO wording like save to folder just freaks people out)

[2019-04-16 01:50] ufo22940268 commented on #41
I found this [method](https://stackoverflow.com/a/23969359/674199) works

1. Generic gif file with only one image
2. Get the size of the gif, mulply by the total image count of gif

The result is sometimes larger than the real size and sometimes smaller than the real size. And the difference will be less than 10%.

[2019-04-16 01:51] ufo22940268 commented on #41
I already tests for 5 video clips. And implement this algorithm in my app. If it works well, i will comment below.

[2019-04-16 05:42] eonist commented on #41
@ufo22940268 Which 5 video clips? Gifs of screen-captures are hard to predict with just 1 frame as the basis for multiplication of .count. See earlier discussion in this thread.

[2019-04-16 05:44] ufo22940268 commented on #41
@eonist Taken by IPhone X.

Ok, may be it's not a good solution.

[2019-04-16 05:59] eonist commented on #41
It was my initial idea too. Problem is if you take videos of nature or city scapes. each frame is almost the same size. If you however take screen-captures. one frame can take 1kb and another 44kb. So we need to progressively calculate while it converts. Or that seems to be the most optimal solution. Of course it would be much better to use some sort of fast algorithm to estimate each frame before

[2019-04-16 07:16] ufo22940268 commented on #41
https://gist.github.com/ufo22940268/210eab0d58828da73534313942894a16

It's the code in my app to estimate the gif size. It works good so far. I will continue to test it. Hope it will help others.

[2019-04-16 15:50] eonist commented on #41
Did you try it with something recorded with QuickTime screen recording?

[2019-04-22 09:29] sindresorhus opened #74 "Support trimming"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24200%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/74)

I realized that there's [`AVPlayerView`](https://developer.apple.com/documentation/avkit/avplayerview) and `AVPlayerView#beginTrimming` which makes it easy to create a trimming view.

See: https://developer.apple.com/documentation/av

[2019-04-26 13:25] aried3r opened #75 "Enjoying (null)?"
In this case, I think, I do not enjoy it. :)

![Screenshot 2019-04-26 at 15 14 26](https://user-images.githubusercontent.com/1301152/56810762-5f210400-6837-11e9-9ba1-1f8d6b3047cb.png)
![Screenshot 2019-04-26 at 15 18 23](https://user-images.githubusercontent.com/1301152/56810763-5f210400-6837-11e9-9760-4aaff82990e5.png)

[2019-04-26 13:48] sindresorhus commented on #75
It’s a bug in an Apple API. Nothing we can do anything about it, unfortunately:

https://forums.developer.apple.com/thread/115449

[2019-04-26 13:52] aried3r commented on #75
Oh, that's good to know. Thanks for the quick response! I'm gonna close this issue then.

[2019-04-26 13:52] #75 closed

[2019-05-03 06:58] sindresorhus commented on #36
If anyone wants to work on this, see the initial PR https://github.com/sindresorhus/gifski-app/pull/49, which was never finished. Especially the feedback given there.

[2019-05-03 07:00] sindresorhus commented on #26
@kornelski Is there anything else we can use to reduce the file size other than `giflossy`? I have tried both mentioning `@kohler` here and emailing him without any response.

[2019-05-03 08:33] sunshinejr commented on #68
Hey @sindresorhus, I’m gonna try to tackle this one.

[2019-05-03 12:14] kornelski commented on #26
Well, lossy compression is most effective and tackles the problem directly.

Indirectly, the solution is to reduce amount of changes in the video.

For inputs in lossy video formats, some form of denoising (e.g. median filter) should be helpful.

For real-life videos temporal denoising could help. Also video stabilization would be a great improvement.

[2019-05-03 12:43] kohler commented on #26
If *you* are making the source code available, it doesn't matter whether or not *Apple* does.

[2019-05-03 12:57] kornelski commented on #26
@kohler App Store T&Cs directly forbid use of code that author can't license to Apple under closed-source terms. Apple intentionally refuses to take any GPL code, regardless of whether it'd be compliant or not (also, it's not compliant: https://www.fsf.org/blogs/licensing/more-about-the-app-store-gpl-enforcement)

[2019-05-03 13:11] kohler commented on #26
As long as the Gifski product’s source code is entirely available to the end user, you don't need my permission; the alternative license explicitly allows you to include Gifsicle. I can see the confusion around “more precisely, in a context that would violate the GPL” but this seems fine to me.

[2019-05-03 18:52] sunshinejr commented on #68
Hey @sindresorhus, can you explain what you meant by the first comment?

Not sure if I understand it correctly.

[2019-05-03 22:02] kornelski commented on #26
I'll take it as a confirmation that you agree to distribute gifsicle in the App Store, on terms of Apple Developer Program License Agreement.

[2019-05-05 10:21] sindresorhus opened #76 "Incorrect dimensions for video recorded from iOS Simulator"
I've seen this issue in Crashlytics, but couldn't reproduce until I got this reply: https://twitter.com/FlorianBuerger/status/1124945762729779200

I've now managed to reproduce the issue by running an iOS app in a simulator like `iPhone XS` and then running `xcrun simctl io booted recordVideo simulator-recording.mp4` in the terminal, and then pressing Ctrl+C some seconds later to end the recording

[2019-05-05 10:55] florianbuerger commented on #76
I was about to mention that workaround but you were faster 🙂 Glad I could help to reproduce it.

[2019-05-05 11:12] sindresorhus commented on #76
@florianbuerger Does it look like an AVFoundation bug to you too? Considering whether I should open a Radar about this.

[2019-05-05 11:49] florianbuerger commented on #76
Yes it does. Not sure wether the bug is in reading in `AVAssetTrack` or in writing it in the first place (I guess via `AVAssetExportSession` when the video is recorded).

[2019-05-05 15:31] kornelski opened #78 "New gifski library API"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/gifski-app/issues/78/badge.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/78)

I've rewritten the C interface. It's now async/single-threaded, so you don't need a separate thread for writing and decoding video frames.

[code]

I've also added a new way of writing without a file path, so you can use Swift's I/O.

[2019-05-05 17:08] sindresorhus commented on #78
Oh great! We will definitely want to handle I/O with Swift instead. Since nobody would convert a GIF larger than available memory, I'm thinking of just buffering up the whole file in memory and then doing one write to disk at the end. Thoughts? That would also prevent any issues with the destination disk becoming unavailable during conversion. I've seen that happen many times in Crashlytics.

Coul

[2019-05-05 18:30] kornelski commented on #78
The API remained backwards-compatible, and you've already got quality scaling implemented, so I don't think it's worth changing the settings struct.

[2019-05-05 18:30] kornelski commented on #78
Buffering of the GIF in RAM should work. With NSData appending + atomic write it should work pretty well.

[2019-05-05 18:34] kornelski commented on #78
What's wrong with the Xcode project?

[2019-05-05 18:54] sindresorhus commented on #78
Fair enough. Just wanted to make the API slightly more user-friendly for other users, but you're right, doesn't matter for our needs here.

👌

Never mind. Seems the warnings I had are gone when updating from https://github.com/ImageOptim/gifski

[2019-05-07 17:24] kohler commented on #26
I confirm that it is OK to distribute Gifsicle on a product whose source code is freely available via an open-source license, specifically in this case one compatible with the BSD license, and that is also available via the App Store.

The product’s source code must be freely available via an open-source license.

[2019-05-07 18:16] sunshinejr commented on #78
Bypassing the save dialog at the start of conversion would be awesome. Maybe we could try to load it to memory and in case it's too big fallback to the current flow (if it wouldn't be too hard to do).

[2019-05-11 07:41] sindresorhus commented on #72
I really like this. Thanks for opening the issue.

---

We still have to let the user choose size, FPS, quality though. What I'm thinking is that we move those controls from the save panel into the main window.

We show the controls by default before conversion, but the user can optionally skip it by holding down Option key when dragging the video into Gifski.

The flow would be:

1. User: drag-dr

[2019-05-11 07:55] sindresorhus commented on #62
I'm gonna close this as it's not something we can work around. We just have to wait for Apple to do the right thing.

[2019-05-11 07:55] #62 closed

[2019-05-11 11:00] sindresorhus opened #81 "Share extension"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/81)

I think it would be useful to create a [Share extension](https://developer.apple.com/design/human-interface-guidelines/macos/extensions/share-extensions/) for Gifski. That way, any video/screen recording app with a system "Share" but

[2019-05-14 10:31] sunshinejr opened #82 "Notification when Gifski completed the conversion"
There are times that it takes time to convert the GIF, and having hidden dock I have to check few times if the conversion completed. It would be awesome to have a notification that would respect DND (similar to Xcode builds).

[2019-05-14 10:35] sindresorhus commented on #82
That's a good idea. I'm surprised I didn't think of this myself.

[2019-05-14 10:48] sunshinejr commented on #68
Unfortunately I don’t have that much time and there are improvements that I would love to see first before doing this one, so I’m unassigning myself from this issue.

[2019-05-21 18:12] #66 closed

[2019-05-22 07:01] #47 closed

[2019-05-31 09:58] martinwinter commented on #35
For future references via search, here is the documentation: https://developer.apple.com/documentation/xcode_release_notes/xcode_10_release_notes/build_system_release_notes_for_xcode_10?language=objc

[2019-06-02 09:58] sunshinejr commented on #81
I'd love to see this one as well.

[2019-06-17 06:34] sindresorhus opened #85 "Switch from GCC to Clang"
Currently we use GCC to be able to use OpenMP, but it seems like it's actually possible to use OpenMP with the built-in Clang version in Xcode in combination with `brew install libomp`.

Resources:
- https://stackoverflow.com/a/55726616/64949
- https://stackoverflow.com/questions/44380459/is-openmp-available-in-high-sierra-llvm
- https://github.com/microsoft/LightGBM/pull/1501/files

I think it wo

[2019-06-17 22:31] kornelski commented on #85
When I have time I'll check whether libomp is usable.

However, for pngquant GCC generates better code than clang, so it wouldn't be a performance benefit.

[2019-06-22 06:17] #82 closed

[2019-06-22 08:10] sindresorhus commented on #25
@valeranazarov Sorry for never getting back to you. For a long while, I was too busy to work on Gifski. I'm getting back to it now though. All these icons look amazing. It's hard to pick!!

The icons with a play icon (3, 4, 6, 7) makes it seem like Gifski is a media player, not converter, so I don't think they'll fit.

My current favorite is 9, but I also like 5.

Would you be able to send me all

[2019-06-22 11:02] sunshinejr commented on #25
9 looks awesome! I feel like it finally adds some flavor to the icon. While 5 is good-looking as well, it's jus there, doesn't stand out to me.

[2019-06-22 11:30] kornelski commented on #25
I like 11 over 9, since the font is more interesting, and it keeps the round G.

[2019-06-22 11:33] sindresorhus commented on #25
I find the 9 font more interested and more retro, so I guess that's subjective.

[2019-06-22 11:34] sindresorhus commented on #25
@valeranazarov Would you be able to try a version of 9 without the `Gifski` text. You should generally not have readable text in app icons.

[2019-06-22 12:58] sunshinejr opened #91 "Show an alert when given filename already exists"
When you want to save a GIF with given name and it exists, the Convert button doesn't work - there is no clear message as of **why**.

@sindresorhus did you see this one before?

[2019-06-22 13:35] sindresorhus commented on #91
Weird. Can you share a screenshot?

This is how it looks (and has always worked) for me:

<img width="450" alt="Screen Shot 2019-06-22 at 20 34 44" src="https://user-images.githubusercontent.com/170270/59964618-32ceee80-952d-11e9-987a-f9cd5a41c5a0.png">

[2019-06-22 14:08] sunshinejr commented on #91
It just does nothing (highlights normally though).
<img width="726" alt="Zrzut ekranu 2019-06-22 o 16 07 40" src="https://user-images.githubusercontent.com/5232779/59964932-de654800-9507-11e9-9115-0179a4767b9f.png">
I wonder if it's the macOS version problem. I'm currently using macOS Catalina.

[2019-06-22 14:29] sindresorhus commented on #91
Definitely. Since we're just using the stock save panel here. First try upgrading to beta 2, if it's still a problem, report it through the Feedback Assistant app. It's important to get in reports like these now before it's too late to fix.

[2019-06-22 15:05] #36 closed

[2019-06-22 15:21] sunshinejr commented on #74
@sindresorhus I'm thinking about the layout for trimming and I wonder - how big do we want the player to be? This is how it looks with 300 height:
<img width="850" alt="Zrzut ekranu 2019-06-22 o 17 19 27" src="https://user-images.githubusercontent.com/5232779/59965708-06f23f80-9512-11e9-85fc-bd5cb39d1864.png">

[2019-06-22 15:40] sindresorhus commented on #74
I was thinking a "Trim" button that would open a new window with the trimmer. I don't think we can put more stuff directly in the save panel.

[2019-06-22 16:04] sunshinejr commented on #74
@sindresorhus yeah it’s hard to squeeze it all in. Any preference where that button could go?

[2019-06-22 18:23] #51 closed

[2019-06-22 20:11] #78 closed

[2019-06-22 20:31] boyvanamstel commented on #25
Awesome icons. Really like the neon vibe. 👌

I like 2, 5 and 11.

[2019-06-23 16:18] #61 closed

[2019-06-23 23:19] kornelski commented on #25
Good point. So maybe leave the distinctive round G only?

[2019-06-24 04:52] sindresorhus commented on #25
Yeah, that could work. Would be good to see a variation with that too.

[2019-06-24 14:39] sunshinejr opened #95 "After newest libgifski update the generator needs few seconds to start and the progress is laggy"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2480%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/95)

# The bounty here now applies to https://github.com/sindresorhus/Gifski/issues/180 instead.

---

This is the video I reproduced it with.

[new_gifski_transitions.mov.zip](https://github.com/sindresorhus/Gifski/files/3321317/new_gifsk

[2019-06-24 14:53] sindresorhus commented on #95
I've made a branch with logging: https://github.com/sindresorhus/Gifski/tree/logging-for-95 I've wrapped the `generateCGImagesAsynchronously` callback in a DispatchQueue, so libgifski won't block it.

Here's the log output:

[code]

**Notice how it takes 8 seconds from the last `generate` log to the first `write` log.**

@kornelski Any ideas?

[2019-06-24 16:50] sunshinejr commented on #95
I also noticed that most of the time when cancelling the process it will crash.

[2019-06-24 19:52] kornelski commented on #95
What's the order of calls to the library? Are you setting the write callback before the frames?

[2019-06-24 21:44] sindresorhus commented on #95
Yes: https://github.com/sindresorhus/Gifski/blob/90f809784818af793ed590d8ffaccd19d4fa4c84/Gifski/Gifski.swift#L88

[2019-07-08 21:16] AnderGoig commented on #81
I've been doing some testing and haven't found a way to open the host app from the Share extension. There is an `open(:url)` [method](https://developer.apple.com/documentation/foundation/nsextensioncontext/1416791-open) but I couldn't make it work with this extension.

Was that the idea, or am I missing something?

[2019-07-12 09:41] muuvmuuv opened #97 "Remember last settings"
It would be cool if it would remember settings I gave it, so I can have the same settings for multiple files (or even support multi file processing). ATM I need to remember which settings I have set and it is hard to adjust width/height to exactly that dimensions as before.

[2019-07-18 15:28] sunshinejr commented on #95
I spent some time and figured out the culprit. Seems like gifski lib goes to the writing block after we add 3 frames. The problem with this video is that adding these 3 frames takes a long time (2 seconds per each for me). Because of that there is 6 secs+ delay on this video.

I extracted one of the frames and tried to create a gif with that frame using the rust lib and it was a lot quicker.

Comm

[2019-07-22 11:17] BowdusBrown commented on #95
## Time profiler

Release [1.7.0](https://github.com/sindresorhus/Gifski/releases/tag/v1.7.0)

<img width="1009" alt="Screenshot 2019-07-22 at 12 13 55" src="https://user-images.githubusercontent.com/51816980/61628519-72970c00-ac7a-11e9-81f3-898b73dbff86.png">

Release [1.8.0](https://github.com/sindresorhus/Gifski/releases/tag/v1.8.0)

<img width="1010" alt="Screenshot 2019-07-22 at 11 31 58" src

[2019-07-22 11:29] BowdusBrown commented on #95
Regarding the crashing, it seems to me that the variable `gifData` in the file `Gifski.swift` is potentially touched from several threads and it might need to be locked.

[2019-07-22 12:07] sunshinejr commented on #95
@BowdusBrown the crash is already fixed in the #94 PR. The only thing right now is the delay in creating frames. I might try to go back to the old gifski version and see if it helps.

Also, thanks for the findings from the instruments!

[2019-07-22 13:10] kornelski opened #99 "ERROR: Unable to display save panel"
When I run e28411cfae53c7de98350069074a5fbe02a2f64e on Catalina 10.15 Beta (19A512f) after dropping a video clip I get an exception:

<details>
<summary>
<blockquote>[OpenSavePanels] ERROR: Unable to display save panel (unrecognized error: Error Domain=com.apple.ViewBridge Code=14 <br>
Invalid parameter not satisfying: aString != nil
</blockquote>
</summary>
<pre>
Gifski[70329:2386815] [OpenSavePa

[2019-07-22 13:14] kornelski commented on #99
Same for "Save As" in the remove_savepanel branch

[2019-07-22 13:20] kornelski commented on #95
The compression algorithm hasn't changed between versions, so the raw CPU requirements are identical.

The only thing that has changed is that now the library spawns a thread, instead of expecting the app to spawn one for it.

So I expect delays to come from mutexes/locking/threads waiting on each other.

[2019-07-22 15:40] BowdusBrown commented on #95
If you take a closer look at my screenshots above, you can see the icon representing code belonging to Gifski (the icon of a human head and shoulders) is shaded out in calls lower down. I believe those calls are inside the libgifski library and I'm curious to know why they appear shaded out in instruments. Anyone know?

[2019-07-26 16:50] sunshinejr commented on #95
Okay I did a little bit more research. This video behaves similarly between versions, changing between writing/memory doesn't make a difference. It just seems like this video needs a little bit more time to add frames for a gif than normally (I mean it's a lot of pixels).

@sindresorhus I think we can close this one.

[2019-07-26 21:54] #72 closed

[2019-07-26 21:57] sindresorhus opened #100 "Quick Look doesn't work if the window is not focused"
Quick Look doesn't work if the window is not focused (main/key) when the "conversion completed" screen is presented. Reproducible on macOS 10.14.6, but not on macOS 10.15 beta 3. See https://github.com/sindresorhus/Gifski/pull/94#issuecomment-512754498.

[2019-07-28 11:44] sunshinejr commented on #99
@kornelski yeah the open/save panel is broken on Catalina, starting beta 2. I've filled a feedback/radar but didn't get any response yet.

Also, on current master we removed the save panel before you generate the gif so it should help a little in the meantime.

[2019-07-28 11:50] sunshinejr commented on #81
@AnderGoig we had a similar problem on iOS few years back. From what I remember, you had to climb the responder chain and stop once you got the host app. Not sure if it's gonna work on macOS, but worth a try.

[2019-07-30 21:46] sindresorhus commented on #100
Here's the difference in the responder chain:

#### Focused

<img width="358" alt="Screen Shot 2019-07-30 at 23 44 06" src="https://user-images.githubusercontent.com/170270/62167718-1ee48c80-b324-11e9-9856-05b9386ea093.png">

#### Not focused

<img width="358" alt="Screen Shot 2019-07-30 at 23 44 44" src="https://user-images.githubusercontent.com/170270/62167731-2441d700-b324-11e9-9bf3-9d2036e8c17

[2019-07-31 19:19] sunshinejr commented on #99
@kornelski it is fixed in beta 5 of Catalina. Closing for now!

[2019-07-31 19:19] #99 closed

[2019-08-04 15:43] sunshinejr opened #102 "Gifski icon in the dock is smaller after the conversion in macOS Catalina."
This started in Beta 5. The app starts normally but once the conversion starts the icon is getting smaller and stays that way forever. Preview below

| Beta 4 | Beta 5 |
| ------ | ------ |
| <img width="43" alt="Zrzut ekranu 2019-08-4 o 17 41 33" src="https://user-images.githubusercontent.com/5232779/62425931-1b178800-b6df-11e9-84f3-6588f183926d.png"> | <img width="44" alt="Zrzut ekranu 2019-08-4

[2019-08-04 18:36] sindresorhus commented on #102
That’s such a random thing for Apple to break. They must have changed the default size of `NSApp.applicationIconImage`.

https://github.com/sindresorhus/DockProgress/blob/27e495706b553819adfdd5c624e38a078e3eba72/Sources/DockProgress/DockProgress.swift#L4

[2019-08-04 20:02] #74 closed

[2019-08-04 20:23] sindresorhus opened #103 "Use `AsyncSequence`"
When we can target macOS 12.

https://github.com/apple/swift-evolution/blob/main/proposals/0314-async-stream.md

We have a lot of asynchronicity and some of our code is hard to reason about. This change will make it both more readable and also let us get rid of `Progress` (`NSProgress`) which is very quirky and not well documented.

For example, this piece would benefit from using AsyncStream: htt

[2019-08-04 21:38] sindresorhus opened #104 "Animate the initial view"
See https://github.com/sindresorhus/Gifski/pull/88

This issue is blocked us to being able to adopt SwiftUI, which will make such animations much simpler to implement.

[2019-08-04 22:22] sunshinejr commented on #102
This might be relevant, got a stacktrace for Main Thread Checker:
[code]

[2019-08-05 15:46] sindresorhus opened #108 "Use `NSViewController.present()` with custom animator"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/108)

Currently, we do this: https://github.com/sindresorhus/Gifski/blob/56511ac4c7deb68b2e39490e0bef45180634b128/Gifski/util.swift#L2436-L2455

The benefit of using `present` is that it's possible to dismiss the view controller to go back

[2019-08-05 15:52] sindresorhus opened #109 "Tabbing is broken in the edit view"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2480%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/109)

The Dimensions dropdown has the first focus, if you tab you get Width, then Height, then the trimmer view. Instead of the trimmer view, it should have been the "pixels/percentage" dropdown.

When the edit view is presented, if you pr

[2019-08-05 18:10] #100 closed

[2019-08-07 10:45] fnky opened #110 "Add support for frame diffing"
It would be nice to support something like [`anim_encoder`](https://github.com/sublimehq/anim_encoder) for simpler gifs. This can help tremendously with decreasing the size of a gif, where only individual areas change, and other areas stay the same.

Jon Skinner, the creator of anim_encoder, has an [excellent post about how he created his encoder](https://www.sublimetext.com/~jps/animated_gifs_the

[2019-08-07 10:46] #110 closed

[2019-08-07 10:47] fnky commented on #110
Anim encoder doesn't acutally output a gif, but individual PNGs and a JSON/JS file with timecodes to drive the animation with JavaScript. So not applicable to Gifski.

[2019-08-07 11:59] fabiospampinato opened #111 "Various suggestions"
👋 I just tried the app and it looks pretty promising so I wanted to provide some feedback:

- It might be cool if there was a startup animation where the colored stripes kind of entered the window.
- The colored stripes look a bit off on a vibrant background, perhaps they should be vibrant/slightly transparent too.
- Clicking somewhere in the initial window should open up the "Open..." dialog, per

[2019-08-07 12:12] kornelski commented on #110
GIF already has delta frames.

[2019-08-07 14:43] sindresorhus commented on #111
Thanks for all the great feedback 🙌

Already planned, but I'm waiting until I can use SwiftUI as doing advanced animations with AppKit is annoying. This is tracked in https://github.com/sindresorhus/Gifski/issues/104.

I've tried reducing the opacity, but even with 0.7, it doesn't make a difference, and with 0.5 and lower, it looks too washed out.

There's already a "Open..." menu item and a Comma

[2019-08-07 14:55] sunshinejr commented on #111
@sindresorhus agree with everything you said. The black background indeed is something we do not control, but like with trimming view, we can try to adjust the color by going through the view hierarchy. Should we create a few small tasks from this one and track the progress there?

[2019-08-07 14:58] sindresorhus commented on #111
👍

[2019-08-07 15:39] sunshinejr opened #112 "Improve navigation"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/112)

Currently when you cancel the conversion it goes back to the “drop video” controller. We should change that so it goes back to the “edit video” controller.

Additionally we should add back button to the “result” controller, it should

[2019-08-07 16:33] sunshinejr opened #113 "Replace black background on trimming view with a checkerboard NSColor"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/113)

Currently we display a black background for the trimming player. While it’s a built-in behavior, I’m afraid there is no easy way of improving it. One possible solution would be to check how the player is constructed and then update t

[2019-08-07 17:09] sunshinejr commented on #26
Awesome. Thanks so much for this @kohler. So now the plan would be to stop using the quality parameter in `libgifski` and, instead, use `gifsicle --lossy`.

[2019-08-07 21:05] sunshinejr opened #115 "Add `lines` property to Tooltip, alongside `maxWidth`"
Currently our `Tooltip` class uses the `maxWidth` property to size itself properly. We want to be able to just specify `lines` instead so it sizes itself based on that (similar to label).

[2019-08-07 21:12] sindresorhus commented on #115
It should still be possible to set `maxWidth` though. It can be useful when the content is dynamic. `maxWidth` should take precedence over `lines`.

[2019-08-08 00:14] sindresorhus opened #117 "Crash: "DraggableFile.mouseDragged(with:)""
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/117)

# The bounty here now applies to https://github.com/sindresorhus/Gifski/issues/118 instead

---

From Crashlytics:

[code]

Which is this line:

https://github.com/sindresorhus/Gifski/blob/dc29e98daed3d344d6bcc981580bdd0bd102eb2e/Gif

[2019-08-08 00:22] sindresorhus opened #118 "Crash: "Gifski.run(_:completionHandler:)""
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://github.com/sindresorhus/Gifski/issues/117)

From Crashlytics:

[code]

Which is this line:

https://github.com/sindresorhus/Gifski/blob/de866cd6b7169a7355fd44aeaff0faee1581c933/Gifski/Gifski.swift#L99

(The line number in the stack trace here is incorrect for some reason. I got the co

[2019-08-08 00:29] sindresorhus opened #119 "Error: "Error.generateFrameFailed""
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2480%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/119)

This is not a crash as we handle it, but it's presented to the user and still annoying. This is a very common error that we also had with earlier versions. 133 users have been affected by this in total. 😔

Error:

[code]

Stacktrace:

[2019-08-08 11:55] fabiospampinato commented on #111
I see. Maybe filling the entire background, and app icon, with stripes would look better? Maybe using much thicker stripes? Probably not, and you might have tried this [already](https://github.com/sindresorhus/Gifski/issues/25#issuecomment-372763603) 🤔.

I don't use d&d a lot, but looking at the apps in my dock:

- [Transmission](https://transmissionbt.com): torrents can be dropped but there's als

[2019-08-08 12:03] fabiospampinato commented on #111
Maybe concentric circles could be used instead of stripes, they would make for a better icon and would give the app more of a [target](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBYiFzuoJvwNPUMuR3IFw-8gY6EgPpseT-aCFJ3NpZBwpI61Gc) feeling, perhaps suggesting that files can be ~~thrown at~~ dropped into it.

[2019-08-08 13:28] sunshinejr commented on #95
So I was again researching the topic as few things didn't make sense to me. And it turns out that the problem was the optimization level. Basically when we compiled Gifski in Release scheme, everything was back to normal. It only behaved that way on Debug.

[2019-08-13 16:28] schneiderf opened #122 "Values in input fields for width and height not editable"
To reproduce the bug:
- Open application
- Convert a video into a gif
- When finished, open another video to convert without closing application
- Values inside the input fields for width and height are now no longer editable, only by selecting a preset

---
Gifski 2.0.0 (18)
macOS 10.14.6
iMacPro1,1

[2019-08-13 20:40] sindresorhus opened #123 "Add recording support?"
Would be nice to have some kind of super-simple recording built-in. Just for when you need to quickly record a bug.

**Note: This is not something we plan to do anything soon, if even at all. I'm just opening this issue to start the discussion. This would not make sense before #26.**

The intention is not to be a replacement for the built-in screen recording or more powerful recording apps like Ka

[2019-08-14 11:02] sindresorhus commented on #95
There's still the problem that `gifski.setWriteCallback` (or rather `gifski_set_write_callback` underneath) blocks the thread even though it's documented as being non-blocking. In https://github.com/sindresorhus/Gifski/commit/28be9dceb1878ec175ee0bb0acb92357bab912d3, I had to wrap the `generator.generateCGImagesAsynchronously` callback in `DispatchQueue.global().async`.

[2019-08-14 18:18] kornelski commented on #95
I can't reproduce that problem. `gifski_set_write_callback` doesn't wait for anything. It only acquires one lock to save thread handle, but there's nothing else that could hold that lock.

[2019-08-14 21:38] kornelski commented on #95
In 6f6bf34f4fedf4be7aead46bcf230310e2f1665b I've added another warning in case things were called out of order.

[2019-08-15 06:07] BowdusBrown commented on #95
I wouldn't be so sure...

<img width="1016" alt="Screenshot 2019-08-15 at 07 05 39" src="https://user-images.githubusercontent.com/51816980/63075916-2c586400-bf2b-11e9-8c1d-b26e34d9213d.png">

I'm checked out at 6f6bf34f4fedf4be7aead46bcf230310e2f1665b

[2019-08-15 06:11] BowdusBrown commented on #118
I think I got the same thing here (when pressing cancel).
https://github.com/sindresorhus/Gifski/issues/95#issuecomment-521526561

[2019-08-15 08:19] sunshinejr commented on #95
Ah yeah, I didn't update the comment, apologies. But after I wrote that comment, we still could get the crash on debug which is non-ideal... On release it seems to be working okayish.

[2019-08-15 09:09] sindresorhus commented on #118
@BowdusBrown I only managed to get that in Debug build, not in Release build. So make sure you test in Release mode.

[2019-08-15 09:25] BowdusBrown commented on #95
No worries. I have provided a fix https://github.com/sindresorhus/Gifski/pull/124 but really the root cause of why gifData is deallocated early is the real fix. It seems to be happening inside the static library.

[2019-08-15 10:09] kornelski commented on #118
I've seen this crash too. All the pointers in the callback are the same as in previous calls that did succeed, so it looks like use-after-free of `gifData`.

[2019-08-15 13:31] kornelski opened #125 "Safer context for closures"
Currently gifski C API takes a callback function + a context pointer. From Swift's perspective this has to be a plain, context-free function, and the context pointer is meaningless (unsafe unretained). That makes it awkward to use (doesn't allow normal closures), and is unsafe.

Can we do better?

I don't know what's Swift solution to the memory management problem here. In the olden days of manual

[2019-08-15 14:10] BowdusBrown commented on #125
Looking at the code I can see the closures are marked with `@convention(c)`.

I've noticed you can't simply pass the context into a custom queue either.

I'm not skilled in the following language so I can't debug it. However, there is some inline documentation "get refcount++ without dropping the handle".

[code]

Does this effectively mean "Increase the retain count so we don't release the closur

[2019-08-15 15:04] kornelski commented on #125
That refcount is for `GifskiHandle`, but not for the callback context.

[2019-08-15 16:09] sunshinejr commented on #122
Thanks for filling an issue @schneiderf, we really appreciate it!

@sindresorhus I guess this might be the side effect of our responder chain fixes?

[2019-08-16 10:32] BowdusBrown commented on #125
I suppose this thread is focusing on the Swift to C bridge specifically and given that the thread is here and not [here](https://github.com/ImageOptim/gifski), your intention is to improve the Swift side and not the C side? That would make sense because it seems the limitations of Swift are pretty clear, when it comes to importing C functions.

It was loosely discussed in my latest pull request th

[2019-08-16 12:55] kornelski commented on #125
Right, the common language for Rust and Swift is C, and C can't to anything smarter than function pointer + context pointer, so that's the interface we have to work with. Therefore handling of Swift closures well requires changes on the Swift side.

[2019-08-22 16:17] Garretb1563 opened #127 "Missing frames"
Hello! I am missing frames on the end of my gif when I export with gifski. Example: my gif is 20 frames long, when I export it from gifski it loops with only 18 frames. I can bring it into After Effects also and see how it is shorter than my original composition.

---
Gifski 2.0.0 (18)
macOS 10.14.6
iMac19,1

[2019-08-22 16:40] sunshinejr commented on #127
Hey @Garretb1563, can you provide the gif & steps to reproduce the issue and what frames are you missing? would help a lot in investigation.

[2019-08-22 19:03] Garretb1563 commented on #127
Sure! I'll attach the mp4 file and the final gif and a screenshot of my After Effects comp showing how the gif is shorter than the mp4.

<img width="1028" alt="gifski" src="https://user-images.githubusercontent.com/34348248/63542222-e6cd0580-c4ed-11e9-9846-73dc6b15cc01.png">

[2019-08-22 19:04] Garretb1563 commented on #127
Here's a link to the mp4 and GIF https://drive.google.com/drive/folders/1fUkDFHz0xaTOxrtA0GVgXx9GgVcgyKTl?usp=sharing

[2019-09-03 20:11] sindresorhus commented on #112
I'm thinking a button in this style:

<img width="126" alt="Screenshot 2019-09-04 at 03 10 31" src="https://user-images.githubusercontent.com/170270/64205237-b9a32e80-cec1-11e9-82fd-323bac5d2c0f.png">

[2019-09-03 20:45] sunshinejr commented on #112
Looks good @sindresorhus!

[2019-09-05 06:12] masture opened #128 "GIF from a bunch of images"
---
Gifski 2.0.1 (19)
macOS 10.14.6
MacBookPro14,3

[2019-09-05 13:07] NehaKushwah993 commented on #117
hi, I have been trying to find this issue since last 2 days, but it is not crashing me. Although i have added some check which will prevent it from crash.

But I am not able to create pull request, can you please help me for this?

[2019-09-05 13:26] kornelski commented on #128
I'm not sure how doable it is for the GUI, but you can do it from the command line version https://gif.ski/

[2019-09-05 15:12] sindresorhus commented on #102
@sunshinejr Is this still the case in the latest beta?

[2019-09-05 15:19] sunshinejr commented on #102
Ah ye no longer an issue 👍

[2019-09-05 15:19] #102 closed

[2019-09-05 17:13] sindresorhus commented on #117
How can you be sure it fixes the problem if you cannot reproduce it?

https://help.github.com/en/articles/creating-a-pull-request

[2019-09-05 21:40] sindresorhus commented on #41
@kornelski If the background estimator converts at 1/4 the dimensions of the actual conversion, will the estimate be accurate if multiplied by 4?

[2019-09-05 22:55] kornelski commented on #41
Hard to say. It will reflect some high-level aspects of the animation, such as whether there's lots of movement or it's a mostly still screencast.

But on detail level it'll be all different, since palettes, anti-aliasing, noise, dithering, LZW dictionaries are all different and depend on exact pixels.

[2019-09-06 05:36] NehaKushwah993 commented on #117
Can you send me full crashalytics report? that includes system info n all?

[2019-09-06 07:04] sindresorhus commented on #117
Here are the [6 latest Crashlytics reports](https://github.com/sindresorhus/Gifski/files/3582566/Crashlytics.reports.zip).

[2019-09-06 12:11] kornelski opened #130 "Display estimate as a range"
The estimate could be displayed as a range, e.g.: 0.5MB-2MB. This could be done simply by calculating estimate twice, with different assumptions (fudge factors).

Displaying it as a range would communicate to users that it's not an actual expected file size, and would communicate how imprecise the estimate is, so they would be less surprised when it's off.

[2019-09-06 12:50] sindresorhus commented on #130
What would the different assumptions be?

[2019-09-07 01:13] kornelski commented on #130
Magic constants for compression ratio and influence of quality.

[2019-09-07 11:03] Ybrin commented on #68
I can do this.

[2019-09-07 11:44] sindresorhus commented on #68
@Ybrin Go ahead :)

[2019-09-07 13:31] NehaKushwah993 commented on #109
Hi, I think I can fix this issue. But first I don't know how can I create pull request because I am not able to create any sub_branch or branch. Please let me know that process so I will start my process for other issues as well.

[2019-09-07 13:34] Ybrin commented on #68
@sindresorhus See #131

[2019-09-07 21:29] Ybrin commented on #112
I am looking into it. Is this type of button built in into the macOS APIs or do we need to design it ourselfs?

[2019-09-08 05:05] sindresorhus commented on #112
@Ybrin Design it. Shouldn’t be hard to replicate the style using our CustomButton class.

[2019-09-08 10:46] NehaKushwah993 commented on #109
Hi, I have fixed this issue :

-  Instead of the trimmer view, it should have been the "pixels/percentage" dropdown.
-  we should make the trimmer view the initial first responder instead of the "Dimensions" dropdown.
- if you press Shift+Tab, it moves to focus to the trimmer view, if you press Esc then, the trimmer is hidden.

These 3 issues are fixed, please take a look in my pullRequest.

-Neha

[2019-09-08 16:47] Ybrin commented on #81
I can do this if it is still relevant.

[2019-09-09 07:22] NehaKushwah993 commented on #109
Hi, did you look in to this?

[2019-09-09 12:12] Ybrin commented on #128
Dragging and dropping multiple files could open a customized view where you can arrange the images instead of cutting the video file.
The question is do we want to support it or not.

[2019-09-09 12:36] sindresorhus commented on #128
I doubt we'll add this. It would require a lot of UI work to arrange the images, set delays, etc, for an uncommon use-case. However, I think we should add a `ffmpeg` command to the readme on how to make a ProRes video from a bunch of images, that can then be passed to Gifski.

[2019-09-10 14:34] sunshinejr commented on #81
@Ybrin yes I think it's still relevant so go ahead 👍

[2019-09-11 14:20] NehaKushwah993 commented on #109
Hey, should I send you it's video?

[2019-09-11 20:28] DeveloperBen commented on #26
I can work on this if no one else is working on this

[2019-09-13 07:45] sindresorhus commented on #118
Reopening this as I'm still seeing this crash in Crashlytics: https://github.com/sindresorhus/Gifski/pull/124#issuecomment-522306439

[2019-09-19 13:18] arggh opened #135 "Add option to return after converting"
Would be nice, if one could go back to the trim & settings view after the conversion completes. Even better, if one could preview the end result _before_ actually clicking `Convert` and saving the gif.

**Use case**:

After converting the video to gif, user notices that a) filesize is too large b) resolution wasn't quite the correct choice after all c) framerate drop was too obvious.

Now it would

[2019-09-19 16:25] sindresorhus commented on #135
Duplicate of #112

[2019-09-19 16:25] #135 closed

[2019-09-19 16:27] sindresorhus commented on #135
You mean preview the GIF? There's no way to show the GIF without actually first converting it. You don't have to save the GIF to preview it though. Just press <kbd>Space</kbd> after the conversion is done to quick look the GIF.

We're working on improving the file size estimate, so that should hopefully be less of a problem going forward:  https://github.com/sindresorhus/Gifski/pull/129

[2019-09-19 17:04] arggh commented on #135
Yes, that was the idea. I think previewing the gif in the same screen where I tweak the conversion settings is a superior user experience compared to going back and forth between the settings-view and the save-view. Especially, since there is already a video player present in the settings-view.

For example, there could be a button <kbd>Render preview</kbd> or a toggle: <kbd>Original</kbd> - <kbd>

[2019-09-19 17:25] sindresorhus commented on #135
@arggh I like your idea. I think we should explore it further. Could you copy-paste your above comment into a new issue focused on the GIF preview idea?

[2019-09-19 18:48] arggh opened #136 "GIF Preview feature"
I think previewing the gif in the same screen where I tweak the conversion settings is a superior user experience compared to going back and forth between the settings-view and the save-view. Especially, since there is already a video player present in the settings-view.

For example, there could be a button <kbd>Render preview</kbd> or a toggle: <kbd>Original</kbd> - <kbd>Preview</kbd>

If you se

[2019-09-19 20:56] sindresorhus commented on #125
Relevant, but still far off:
- https://github.com/rust-lang/rust/pull/64582
- https://github.com/rustswift/swift-bindgen

[2019-09-19 21:01] sindresorhus commented on #125
Do you have an examples or links about that?

How would that look like?

We should definitely do this.

[2019-09-20 10:28] kornelski commented on #125
ObjC blocks `^{}` are `NSObject`. The [spec](https://clang.llvm.org/docs/Block-ABI-Apple.html) for this is probably too low-level to be useful. But just based on assumption they're `NSObject`, they should support passing by regular pointer as well as manage reference count the same way.

[2019-09-20 10:30] kornelski commented on #125
I don't know enough Swift to know how Rust's equivalent of `Box` would look like, but perhaps it could be just a class that contains the callback as a field?

[code]

and then `CallbackWrapper` would be a regular object, and could be passed around and memory-managed like one.

[2019-10-01 21:05] schneiderf opened #137 "Make non-looping GIF"
Feature request: I would like to have the option to make non-looping gifs. Adobe Photoshop for example offers that option in its legacy "Save for web" exporter. Would be really great to see, thank you!

---
Gifski 2.0.1 (19)
macOS 10.14.6
iMacPro1,1

[2019-10-04 13:17] Ybrin commented on #81
Ok I got this but we need to discuss how exactly the process should behave.

Share extensions normally have a custom UI and don't really open the master app to process the shared item. There is a workaround I'm currently using in order to open Gifski and close the share extension immediately but it's more a hack...

How do you want to do this? Should I stick with the hack and just open Gifski with

[2019-10-05 13:38] kornelski commented on #26
I'm working on this

[2019-10-06 19:03] kornelski commented on #26
:shipit: https://github.com/ImageOptim/gifski/releases

[2019-10-07 08:53] sunshinejr commented on #81
@Ybrin UserDefaults with custom suite name? I think this should work between extension & an app. If the hack is working properly, I wouldn't mind it (but leaving the decision to Sindre).

[2019-10-07 08:56] Ybrin commented on #81
The hack is opening one of the url schemes assigned to Gifski and passing
the video uri as a parameter. I don’t like it but I don’t see any other way
to open the original app from an extension.

On Mon 7. Oct 2019 at 10:53, Łukasz Mróz <notifications@github.com> wrote:

[2019-10-07 08:58] Ybrin commented on #81
The thing is, I have to open it with a webview in the extension. So the
Extension view is actually an empty webview which stays open until Gifski
starts launching.

On Mon 7. Oct 2019 at 10:56, Koray Koska <koray@koska.at> wrote:

[2019-10-07 09:48] sunshinejr commented on #26
@kornelski that's awesome 🚀 do you also want to finish it on the client side? seems like we would need to pass the flag only, as you are [properly calculating the quality anyways](https://github.com/ImageOptim/gifski/blob/d8357dec3608f9d9de6426c44907442aea62a2cf/src/lib.rs#L65-L75), right?

[2019-10-07 09:48] sindresorhus commented on #81
@Ybrin Could you use App Groups to copy the video into a shared container that Gifski can access?

Another possibility it to just pass raw bytes into Gifski from the extension.

[2019-10-07 10:30] Ybrin commented on #81
@sindresorhus I‘ll have a look into app groups and let you know.

On Mon 7. Oct 2019 at 11:48, Sindre Sorhus <notifications@github.com> wrote:

[2019-10-08 04:19] #113 closed

[2019-10-09 20:04] #26 closed

[2019-10-10 06:19] moonou commented on #25
Thank you create this project, I use it to made gif from video, it very helps for me. but when convert finishes,  the window can't back to edit again, I think maybe add something interaction will yield user can edit again. because I think have some user is converted multiple ranges to gif from video, not just one.

[2019-10-10 06:27] sindresorhus commented on #25
@moonou ➡️ https://github.com/sindresorhus/Gifski/issues/112

[2019-10-17 08:47] sindresorhus commented on #137
We should add a checkbox for "Infinite loop" and a text field (disabled by default) that when "Infinite loop" is unchecked, you can specify a loop count.

[2019-10-17 11:14] sunshinejr commented on #137
@sindresorhus I only found an option to add a flag `--once` to the gifski cli to remove looping the gif. Do you think we could start with just a checkbox if it's infinite or not? Loop count might be more time-consuming.

[2019-10-17 11:54] kornelski commented on #137
I expose only `once: bool` flag, because anything in between seems niche.

[2019-10-17 12:03] sindresorhus commented on #137
Yeah, lets go with only a checkbox. Loop count is indeed too niche.

[2019-10-23 06:28] chrismessina opened #149 "Gifski told me to file a bug: "The video file is not supported.""
## AVAsset debug info ##
Extension: mp4
Video codec: H264 (avc1)
Audio codec: nil
Duration: 27s
Dimension: 1152×720
Frame rate: 29.97
File size: 11.2 MB
Is readable: true
Is playable: false
Is exportable: true
Has protected content: false

Track #1
----
Type: Video
Codec: H264 (avc1)
Duration: 27s
Dimensions: 1152×720
Natural size: (1152.0, 720.0)
Frame rate: 29.97
Is playable: false
Is decodable:

[2019-10-23 07:23] sindresorhus commented on #149
Thanks for opening this issue! We've seen a lot of these in Crashlytics, but no one has bothered to actually open an issue until now 🎉 I'll look into it.

[2019-10-23 07:28] sindresorhus commented on #149
How was the video encoded? What app did you use to export it?

[2019-10-23 07:34] sindresorhus commented on #149
Debug info from MediaInfo:

[code]

[2019-10-24 06:42] sindresorhus commented on #91
Closing as I cannot reproduce in macOS 10.15 final.

[2019-10-24 06:42] #91 closed

[2019-10-24 09:56] sindresorhus commented on #119
I got a little bit further on this. Turns out [`-11832`](https://www.osstatus.com/search/results?platform=all&framework=all&search=11832) means [`AVError.Code.noImageAtTime`](https://developer.apple.com/documentation/avfoundation/averror/code/noimageattime):

Maybe we have a bug in the time code calculation?

https://github.com/sindresorhus/Gifski/blob/54b885f29027e6e7d3db6fe7c672e4e822889e74/Gifs

[2019-10-25 04:43] #137 closed

[2019-10-31 05:16] sindresorhus opened #158 "Click the initial drop view to present the open panel"
See https://github.com/sindresorhus/Gifski/pull/150

[2019-11-06 14:52] #109 closed

[2019-11-07 02:59] sindresorhus opened #159 "Looping is not working when using lower quality (gifsicle)"
Try the latest App Store version with a GIF. Make sure the quality is at 100%. Then drag the thumbnail into Chrome and see that it loops. Try again, but lower the quality (gifsicle kicks in) and notice how looping doesn't work in Chrome (or Safari).

This was introduced in https://github.com/sindresorhus/Gifski/commit/50b24f2e058aca147a2ff3bc0a7d10e582f23765. Seems that the gifsicle part of the co

[2019-11-10 05:36] #81 closed

[2019-11-11 16:20] #159 closed

[2019-11-11 16:24] sindresorhus opened #161 "Allow 60 FPS?"
I've gotten a couple of requests for 60 FPS. We currently limit it to 30 FPS. I do realize it doesn't even usually make sense with 30 FPS for GIF, but their use-case is very short clips to upload to https://dribbble.com.

Thoughts?

[2019-11-11 17:57] kornelski commented on #161
There are a couple problems:

* The only framerates that GIF supports are: 100, 50, 33.33, 25, 20, 16.66, 14.3, 12.5, 11.11, 10, and lower. There's no way to say you want 60fps. You can say you want some frames played at 100fps, some at 50fps, alternating so that it sort-of averages to about 60fps.

* Because Netscape was slow, no matter how fast you said you want it to play, it managed something

[2019-11-11 18:08] sindresorhus commented on #161
What currently happens when a user sets it to, for example, 22 FPS? We have a slider in Gifski.app that can be set to any integer between 5 and 30. Does gifski-lib round it internally?

Does gifski-lib do this?

Any source/link about this? I wonder if it also applies to 30 FPS, or only much higher values.

---

It seems ffmpeg does indeed does this average trick to get an arbitrary FPS:
- https://

[2019-11-12 00:41] kornelski commented on #161
* 60hz monitors can support: 60, 30, 20, 15, 12, 10, 8.5, and lower (60/n)
* "100hz" GIF supports: 100, 50, 33.33, 25, 20, 16.66, 14.3, 12.5, 11.11, 10 and lower
* 20fps and 10fps are the only smooth framerates.

Currently the app rounds the delay, so it's not great: https://github.com/sindresorhus/Gifski/blob/5880fd34af55459f3bf1fbc9e538d6e77b36dd1e/Gifski/Gifski.swift#L190

The CLI version uses

[2019-11-16 10:25] mehtavatsal opened #162 "60 FPS"
---
Gifski 2.2.1 (24) - com.sindresorhus.Gifski
macOS 10.15.1
MacBookPro14,1

[2019-11-16 10:27] #162 closed

[2019-11-16 10:27] mehtavatsal opened #163 "60 FPS"
Hi Sindre Sorhus,
Hope you are doing well. I am a big fan of Gifski and using it from past many months. Love the ease of use of the app and output is really good colour accurate. Just love it but I am a UI designer and animator and ask any animator we just love 60 FPS buttery smooth animations. I share my work on dribbble and free dribbble user can upload only GIF. Due to 30 FPS limitation, I can'

[2019-11-16 10:45] sindresorhus commented on #163
Duplicate of https://github.com/sindresorhus/Gifski/issues/161

[2019-11-16 10:45] #163 closed

[2019-11-16 10:45] sindresorhus commented on #163
Can you copy paste the issue text into https://github.com/sindresorhus/Gifski/issues/161 instead?

[2019-11-16 12:52] mehtavatsal commented on #161
Hi Sindre Sorhus,
Hope you are doing well. I am a big fan of Gifski and using it from past many months. Love the ease of use of the app and output is really good colour accurate. Just love it but I am a UI designer and animator and ask any animator we just love 60 FPS buttery smooth animations. I share my work on dribbble and free dribbble user can upload only GIF. Due to 30 FPS limitation, I can'

[2019-11-26 22:08] amordicus opened #164 "Crashes when almost complete"
So here is the video I'm trying to convert.  The video was taken with a Samsung phone running Android 4.4,; I have no idea if it matters?
Action taken was reduce to 25%, lowered the quality, FPS was 15.  The conversion stopped at 96% displayed.

My first video that failed was to large to email , so, I have made a shorter video that also failed with the same error message, for your reference the fi

[2019-12-02 04:49] sindresorhus commented on #164
Duplicate of #119

[2019-12-02 04:49] sindresorhus commented on #164
Thank you so much for sharing a video that reproduces the issue. I have been able to track down the issue and I'll fix it soon.

[2019-12-02 04:50] sindresorhus commented on #119
We now have a video in https://github.com/sindresorhus/Gifski/issues/164 that reproduces the issue.

[2019-12-02 05:06] #68 closed

[2019-12-02 16:11] #119 closed

[2019-12-02 16:11] #164 closed

[2019-12-02 17:19] sindresorhus commented on #7
Closing as the important TODOs have been fixed.

[2019-12-02 17:19] #7 closed

[2019-12-02 18:28] sindresorhus commented on #127
@Garretb1563 I have done some improvements that might fix your problem. Could you test this build and let me know?

[Gifski - build for Garretb1563.zip](https://github.com/sindresorhus/Gifski/files/3912736/Gifski.-.build.for.Garretb1563.zip)

[2019-12-03 14:44] #158 closed

[2019-12-19 19:51] #112 closed

[2019-12-21 08:41] sebgiles opened #169 "Where to get gifsky 2.4.0 for compatibility with High Sierra?"

[2019-12-21 23:00] sindresorhus commented on #169
Here you go: [Gifski 2.4.0 - High Sierra.zip](https://github.com/sindresorhus/Gifski/files/3991913/Gifski.2.4.0.-.High.Sierra.zip)

[2019-12-21 23:00] #169 closed

[2019-12-22 00:19] sindresorhus commented on #111
There's now an open button in the initial view.

there's no button for going back from the result window (maybe once looking at the resulting GIF one figures the settings can be tuned better).

This was fixed in the latest version.

This was fixed at some point.

[2020-01-15 07:58] sindresorhus commented on #111
Check out [Kap](https://github.com/wulkano/kap). It let's you select a window to record. You can then open the recording in Gifski. Kap has a "Open In" option.

That would not match the Gifski brand: https://gif.ski And I don't think it would look good with a circle there.

This was fixed at some point. The slider now rounds the FPS to a whole number.

[2020-01-15 07:58] sindresorhus commented on #111
Can you reliably reproduce this?

[2020-01-15 07:58] sindresorhus commented on #111
Closing as everything was either fixed or has individual issues.

[2020-01-15 07:58] #111 closed

[2020-01-15 12:37] fabiospampinato commented on #111
I'm on v2.5.0 and I see no button 🤔

<img width="360" alt="Screen Shot 2020-01-15 at 12 34 37" src="https://user-images.githubusercontent.com/1812093/72434409-6b693a80-3793-11ea-90ae-1ba5745a2b38.png">

Yes, I've just tried converting a video with Gifski and at the point where the app said there were 40s left, after about ~60% of the video had been processed already, I started a stopwatch and when

[2020-01-16 11:15] sindresorhus commented on #111
It's only on Catalina as it uses SwiftUI.

Ok. Thanks for confirming. Could you move it to an individual issue?

[2020-01-16 14:03] fabiospampinato opened #170 "Improve time estimate accuracy"
Moving issue from #111:

[2020-01-16 15:09] sindresorhus commented on #170
// @allewun In case you have time and interest in looking into this. No worries if not though.

[2020-01-21 08:54] mittalyashu opened #171 "Auto save at default location"
_I have already read the issue #72_

One things that's adds delay to my workflow is to manually select the location to the gif file.

<img width="472" alt="Screenshot 2020-01-21 at 2 23 13 PM" src="https://user-images.githubusercontent.com/29014463/72789322-9226e580-3c59-11ea-9693-9f8b655d96bc.png">

Adding the option to auto-saving the gif at provided location on converting can be helpful.

[2020-01-21 09:02] mittalyashu commented on #72
What happens to the converted gif file if we click on the back button? Does it get deleted from the cache or the place where the file is temporarily stored?

[2020-01-21 09:05] mittalyashu commented on #97
**Feature request**

If we have option to create presets of different kinds of settings, then we don't have to manually select the settings.

Just select the preset with name and it will auto-apply the required settings, of-course we can further tweak the settings if we want 😅

[2020-01-21 09:09] sindresorhus commented on #171
Can you describe your use-case? Why do you need a default location? I'm asking as how I use it I don't even need "Save As" at all, as I just share it right away by dragging and dropping the thumbnail.

[2020-01-21 09:10] sindresorhus commented on #72
It's left in place until the OS cleans it up, usually after a few days.

[2020-01-21 09:12] mittalyashu commented on #72
Is this option by-default enable on every mac or we need to configure something in Mac settings?

[2020-01-21 09:20] mittalyashu commented on #171
1. Auto-saving the gif at default location helps in such a way that after converting the file and closing the gifski app, should not interrupt the converted file since it's already saved to local storage.
2. We can drag and drop the file directly to the gifski icon in dock without first opening it and selecting the settings and after the file is converted, quit the app, use hand-gesture to show de

[2020-01-21 09:25] sindresorhus commented on #72
https://superuser.com/questions/187071/in-macos-how-often-is-tmp-deleted/187105

[2020-01-26 00:25] allewun commented on #170
Seems to be the same formula?

[code]

[2020-01-26 10:39] mittalyashu commented on #41
_Wanted to share the experience with the exact same issue_

The video recorded using Quick time player was in size 3.2 MB, after opening the same file in gifski the estimate file size was 485 MB further more on successful conversion actual file size turn out to be 23.9 MB

<img width="805" alt="Screenshot 2020-01-26 at 4 06 17 PM" src="https://user-images.githubusercontent.com/29014463/73133937-cc

[2020-01-26 12:00] fabiospampinato commented on #170
There's an extra 100 there, I think it should instead be:

[code]

But I'm not sure in both expressions `p` is the same number, like in mine I'm expecting it to be a number in the 0~100 range, while in the old formula it's probably a number in the 0~1 range or it wouldn't make a lot of sense, and I think this makes the two expressions effectively equivalent.

Given how the expressions are equivale

[2020-01-29 18:09] #122 closed

[2020-01-30 03:52] kornelski opened #174 "Update lib gif.ski"
In 0.10 I've changed interface from taking frame delay, to taking absolute time in seconds (float) when the frame should be presented (aka PTS). This makes the library manage delays internally and it supports arbitrary framerates.

If you pass PTS straight from the codec, it'll give smoothest framerate. See how to limit fps in a PTS-friendly way: https://github.com/ImageOptim/gifski/commit/f1e8b59

[2020-01-30 05:48] sindresorhus commented on #174
Awesome!

That's only true if the user chooses the same FPS in Gifski as the video FPS, right?

Also not really sure how to get the PTS with AVFoundation. I think this would be good as a follow-up issue as it's not straight forward and not something I have time to work on right now.

Some resources:
- https://stackoverflow.com/a/39650953/64949
- https://stackoverflow.com/a/6474313/64949
- https://

[2020-01-30 05:53] kornelski commented on #174
actualTime.seconds seems like it's the PTS from the codec.

[2020-01-30 06:01] #174 closed

[2020-01-30 06:07] #161 closed

[2020-01-31 19:33] sindresorhus commented on #149
@chrismessina I'm gonna report this to Apple, but I need to know what app you used to produce the video file.

[2020-02-02 07:32] chrismessina commented on #149
OMG... this was in Oct last year. That said, I believe I was attempting to convert [this video](https://www.youtube.com/watch?v=nZ4fVjoPWUY) to attach it to [this post](https://www.producthunt.com/posts/tinacms) to Product Hunt.

[2020-02-09 10:20] sindresorhus opened #180 "Quick Action"
Since macOS 10.14, we can now [make Quick Actions that show up in Finder](https://developer.apple.com/documentation/macos_release_notes/macos_mojave_10_14_release_notes/appkit_release_notes_for_macos_10_14#3044962). It would be cool to have a GIF quick action that just quickly converts a GIF without any UI, just with some sensible defaults the user could change in a preferences window. This would

[2020-02-10 13:20] sindresorhus commented on #127
I'm going to close this as Gifski 2.6.0 improved how we handle frames.

[2020-02-10 13:20] #127 closed

[2020-02-12 14:29] sindresorhus commented on #149
I have submitted feedback to Apple about this. Not much more we can do, unfortunately.

[2020-02-12 14:29] #149 closed

[2020-02-15 11:30] jsejcksn commented on #130
Any kind of improved accuracy for expectations is good, I think.

<img width="201" alt="estimated" src="https://user-images.githubusercontent.com/868251/74587104-1566fd00-4fb4-11ea-9ef2-618ece3680fd.png">
<img width="126" alt="actual" src="https://user-images.githubusercontent.com/868251/74587105-17c95700-4fb4-11ea-83d4-f9e3acb2828e.png">

[2020-03-10 10:44] sindresorhus opened #183 "Persist metadata in GIF file for iCloud"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/gifski-app/issues/64/badge.svg" />](https://github.com/sindresorhus/Gifski/issues/64)

We add metadata that the GIF was made with Gifski, but that metadata is currently not preserved when the GIF file is synced with iCloud.

https://github.com/sindresorhus/Gifski/blob/8e152d356abc1fa0a6a1894182e9796c049fdf9b/Gifski/ConversionVie

[2020-03-11 16:21] #128 closed

[2020-03-11 16:26] sindresorhus commented on #64
Closing as I agree this is not something we should fix. The bounty now applies to https://github.com/sindresorhus/Gifski/issues/183 instead.

[2020-03-11 16:26] #64 closed

[2020-03-11 16:31] sindresorhus commented on #95
Closing as I don't think this is a problem anymore. The bounty here now applies to https://github.com/sindresorhus/Gifski/issues/180 instead.

[2020-03-11 16:31] #95 closed

[2020-03-11 16:39] sindresorhus commented on #117
Looks like I fixed this at some point as recent releases doesn't have this crash.

[2020-03-11 16:39] #117 closed

[2020-03-11 16:41] sindresorhus commented on #118
This is unfortunately still crashing...

Recent crash log:

[code]

[2020-03-25 07:51] silvenon opened #184 "Looping in the editor should loop only in the selected area"
After the last update the video playback in the editor started looping when "Loop forever" is checked, _which is awesome_, I just think that it makes more sense to only loop within the selected area. Currently looping starts from the beginning of the video.

[2020-03-25 10:09] sindresorhus commented on #184
That's a bug. When implementing the feature, I forgot to check trimming from the start. I only tried trimming from the end. I'll fix this soon.

[2020-03-27 20:34] sindresorhus commented on #41
If anyone wants to work on this, see the previous attempt here and the feedback: https://github.com/sindresorhus/Gifski/pull/129

[2020-03-28 11:36] eonist commented on #41
Just some quick top-of-mind "shallow" input: I think this is a harder problem than it seems. I recently uses adobe premier to do some video-editing and not even adobe is very accurate when estimating conversion of video from one format to the other. And adobe has a lot of resources.

[2020-03-30 12:55] MichaelCunliffeThompson commented on #35
I'm hoping to do some application programming with SFML. Alas I know nothing about builds II apologize for that).   Coud someone help me with how to  "just set ALWAYS_SEARCH_USER_PATHS to NO".  _'d be most grateful as I'm completely stuck here...
Mike

[2020-03-30 13:21] martinwinter commented on #35
* Open the project in Xcode.
* In the navigator (sidebar on the left), select the project icon (should be the first item).
* In the main area, you should see several items at the top, select the one named “Build Settings”.
* In the search field in the top right, paste `ALWAYS_SEARCH_USER_PATHS`.
* This will reduce the items to one or two. Select “Always Search User Paths (Deprecated)”.
* Choose “N

[2020-03-30 15:29] sunshinejr opened #186 ""Couldn't open file" when started recording & progress isn't reported correctly."
This is my workflow:
1. Run simulator recording
[code]
1. Stop & open the file with Gifski
1. Tap convert

What happens is that most of the time I tap convert it says "Couldn't open file", I have to wait (or tap on buttons, not sure which one works) and it converts eventually. Also when it finally starts converting, the progress reported isn't entirely accurate since it finishes at about 50%.

The

[2020-04-06 04:37] #184 closed

[2020-04-06 04:50] sindresorhus opened #187 "Libgifski doesn't always call the progress callback the expected number of times"
With [Odd width.mp4.zip](https://github.com/sindresorhus/Gifski/files/4435884/Odd.width.mp4.zip)

@kornelski Notice here how there are 17 frames, 17 frames are added to Gifski, but `gifski_set_progress_callback` is only called 16 times.

[code]

You can reproduce this in the https://github.com/sindresorhus/Gifski/tree/missing-progress-events branch.

[2020-04-06 05:28] sindresorhus commented on #186
This is caused by #187.

[2020-04-06 05:39] sindresorhus commented on #186
Fixture that reproduces the issue: [simulator-recording.mp4.zip](https://github.com/sindresorhus/Gifski/files/4435996/simulator-recording.mp4.zip)

I have looked into the problem and it turns out the problem is that the recording contains blank frames at the start. If you open the video in QuickTime and go to the start, you'll see that it's blank (black) for some milliseconds. This is IMHO a bug i

[2020-04-06 10:24] kornelski commented on #187
gifski doesn't write all the frames you give it. If timestamps of two frames differ by less than 1ms, then they're the same frame to GIF, so only one of them is written.

[2020-04-06 10:31] sindresorhus commented on #187
That or include a parameter in the callback with the completed frame count. I prefer fake progress events though.

[2020-04-06 11:16] kornelski commented on #187
Ok, fixed in master

[2020-04-06 11:16] #187 closed

[2020-04-06 12:35] #186 closed

[2020-04-13 10:00] sindresorhus opened #190 "Trim empty frames from the start/end of videos when opening them"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2454%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/190)

Some videos contain one or more empty frames at the start.

Example: [simulator-recording.mp4.zip](https://github.com/sindresorhus/Gifski/files/4469007/simulator-recording.mp4.zip) (unzip and drag it into Gifski)

Gifski currently ha

[2020-04-20 13:27] gideonsway opened #191 "QGIS 3.12 crashing"
I have recently installed QGIS 3.12 on my Macbook which is running High Sierra. But QGIS is crashing. The crash report states that "DYLD, [0x4] Symbol missing". I am not tech but having checked there seems talk of X-code problem. I know this has been covered before, but the answers seem way above my pay grade. Is there an idiots guide please - ie do this, do this etc. Thanks

[2020-04-20 13:59] kornelski commented on #191
Wrong project? I don't see how QGIS is related to Gifski.

[2020-04-20 14:10] #191 closed

[2020-04-23 13:06] lnfnunes commented on #25
Like 5

[2020-04-26 04:26] juliacorco opened #192 "App won't open, not sure why"
I'm trying to open OBS but it gives me an error when I do. I don't think this is a problem with OBS - I've deleted the app, redownloaded it, restarted my computer, and deleted the Application Support folder. I'd appreciate any help, I don't know what's wrong.

Here's the error:
https://pastebin.com/pRNPcGnH

[2020-04-26 06:00] sindresorhus commented on #192
Wrong repo

[2020-04-26 06:00] #192 closed

[2020-05-01 06:04] sindresorhus commented on #108
If anyone wants to work on this, see the feedback given in https://github.com/sindresorhus/Gifski/pull/139.

[2020-05-20 11:14] aheissenberger opened #193 "Screencast GIFs optimized palette"
Great App 👏!

What I miss from switching from `ffmpeg` is the creation of a specific color palette which makes the result not show the typical compression artefacts and is much smaller.

**Here is an example done with `ffmpeg`:**

1) Create a palette image from the video:
   `ffmpeg -y -i in.mov -vf fps=5,palettegen palette.png`
   => ![palette](https://user-images.githubusercontent.com/200095/824

[2020-06-05 06:02] dosentmatter opened #194 "Compiler Errors When Building From Source"
Hello, I am trying to build from source but I keep running into two types of errors:

1. Type of expression is ambiguous without more context
2. Ambiguous reference to member 'map'

I am new to Swift. I have a solution but it requires modifying some Swift source code. I'm wondering why it doesn't compile right off the bat.

---

**Machine information:**

MacOS Mojave 10.14.6
Xcode 11.3.1

I instal

[2020-06-05 06:27] sindresorhus commented on #194
You need the latest version of Xcode.

[2020-06-05 06:28] sindresorhus commented on #194
I think you also need macOS 10.15 to be able to compile Swift 5.2.

[2020-06-05 06:28] #194 closed

[2020-06-05 07:33] dosentmatter commented on #194
@sindresorhus, thanks for the quick response.

So I installed Xcode 11.3.1 because according to this [compatibility table](https://en.wikipedia.org/wiki/Xcode#Xcode_11.x_(since_SwiftUI_framework)), the latest version of Xcode MacOS Mojave 10.14.6 can run is 11.3.1:

![image](https://user-images.githubusercontent.com/5732253/83848331-90b70080-a6c2-11ea-8799-e850b8cc5089.png)

---

You are right abo

[2020-06-05 07:38] sindresorhus commented on #194
Correct

[2020-06-21 08:10] sindresorhus commented on #118
This was fixed by https://github.com/sindresorhus/Gifski/commit/bdee22cdd133b33746e20b630e43dace9438151c.

[2020-06-21 08:10] #118 closed

[2020-06-21 12:36] sindresorhus commented on #104
This can now be done. The SwiftUI stuff can just be behind an availability check.

[2020-06-27 20:43] sindresorhus commented on #136
I agree, it's a bit cumbersome at the moment if you need to tweak settings.

This sounds like a great idea indeed.

Or maybe 5 frames evenly spread out over the video time range. That way you can quickly get a feel of the image quality of the whole video.

I think the optimal rendering steps would be:

1. Render first frame.
2. Render the next 4 frames, evenly spread out.
3. Start rendering the wh

[2020-06-27 20:46] sindresorhus commented on #193
I doubt we'll add advanced settings like specifying a custom palette. However, there might be a way to improve the quality/size by default for this kind of recording. @kornelski would have to comment on this though. I don't know how the algorithm works.

[2020-06-27 20:47] sindresorhus commented on #97
I think the first step would be to just remember all the settings while the app is running. Then you can keep dragging in new videos and have the same settings applied. I don't think we should persist it though.

[2020-06-28 14:30] sindresorhus commented on #25
The next macOS version will require a new icon style, more like the iOS ones:

![image](https://user-images.githubusercontent.com/170270/85950358-d6e44480-b98e-11ea-816f-31c2cbff05f8.png)

[2020-06-29 01:08] kornelski commented on #193
gifski always picks optimal palette for every single frame, which makes it superior to ffmpeg's solution which has one (and not so optimal) palette for average of all frames.

That does cost in file size, but gifski is about maxing quality.

[2020-07-13 04:12] robotvert opened #196 "Dimension dropdown: different values for 20%"
See the two values for 20% in the screenshot: which one is it?

![Screen Shot 2020-07-12 at 17 58 53](https://user-images.githubusercontent.com/514215/87270206-68fd5880-c50a-11ea-94f3-73f073fb26f4.png)

Version 2.8.0.

[2020-07-17 20:11] sindresorhus commented on #196
The percentages in parens are rounded. The `20%` one there is actually `20.83%`, but that wouldn't look very nice. I'm happy to consider suggestions on how we can make that clearer.

[2020-07-24 14:18] robotvert commented on #196
What's the rationale for having two separate sections in the first place?

[2020-07-25 06:52] sindresorhus commented on #196
The first is a predefined list of common sizes and the second are exact percentages.

[2020-07-25 10:25] kornelski commented on #196
Maybe deduplicate them by percentages? (put in a hashmap using rounded percentage as the key)

[2020-07-25 10:27] kornelski commented on #196
The list could also use trimming: don't suggest HD resolutions, or resolutions below 100px.

[2020-07-25 22:52] sindresorhus commented on #196
They have different purposes. Someone might want exactly 25% of the original or someone might want an exact size.

That really depends on the FPS though. I often use 960 for GIFs when there's little movement and low FPS.

[2020-08-01 00:23] KhushrajRathod opened #197 "Distribute binaries via GitHub and Brew"
Hi,
At the moment, binaries for Gifski are only distributed through the App Store. Is it possible to distribute via GitHub releases and brew casks? Brew has an (highly) outdated version of Gifski.

[code]

[2020-08-01 00:39] sindresorhus commented on #197
No, sorry. Not worth the additional effort.

The Home-brew formula is for https://github.com/ImageOptim/gifski, not this app.

[2020-08-01 00:39] #197 closed

[2020-08-01 22:27] agustif opened #198 "Couldn't encode media"
i tried to convert an mp4 generated with Kap.app with no luck.

Any ideas?

[2020-08-01 22:46] sindresorhus commented on #198
Not much information here for us to work on. Does it happen every time? Can you confirm you're on the latest Gifski and Kap version?

[2020-08-01 22:55] agustif commented on #198
Just installed Gifski from App Store right now.

The video was generated a few months back with Kap. will try with a fresh now after updating and report back!

[2020-08-07 04:08] Mr-jiangzhiguo opened #199 "Too big to fit in github readme.md"
As you know, github readme limit 10M.

And this app convert mov to gif, size is much larger than 10M

[2020-08-07 12:16] kornelski commented on #199
To make a smaller file size:

- Use lower GIF size. It makes the biggest difference.
- Use lower quality setting.

[2020-08-07 12:52] #199 closed

[2020-08-08 00:00] phaseOne opened #200 "Show warning when framerate is set above 50 fps"
Due to the fact that nearly all browsers—still to this day—only support a maximum frame delay of 20 ms, GIFs exported at 60 fps (16 ms frame delay) will render at 10 fps (100 ms frame delay) in a browser. Finder happily plays back short frame delay GIFs, so I was mislead into thinking this would work on the internet, or in my case Slack.

It seems there's a use case for exporting GIFs with a frame

[2020-08-08 01:14] phaseOne commented on #200
Following up with a slightly modified UI that introduces a surface for users to re-trigger the warning in the event they dismiss it by clicking away.

<img alt="Gifski Warning Mockup v2" src="https://user-images.githubusercontent.com/1310985/89699076-84753c80-d8d9-11ea-81ae-832cce48cc7d.jpg" height="400" />

[2020-08-08 02:41] kornelski commented on #200
Simplest solution would be to cap fps at 50.

[2020-08-14 14:29] robotvert commented on #196
Sorry for the late reply.

Are there examples of the use case for wanting "exactly xx%"?
I have no data alright, but I'd assume most, if not all, of the people primarily care about the size in pixels, and while having the % it corresponds to is very helpful, it doesn't drive the decision between multiple sizes.

If it's legit use case and the current layout ought to be kept, the one quick fix I ca

[2020-08-14 14:54] sindresorhus commented on #196
When you record on a retina screen (2x), you might want to scale to 50% exactly to get the same size as 1x.

You're assuming that everyone cares about the exact pixel size. That is rarely the case for me. I just want it smaller, and having some quick predefined "steps" are useful.

[2020-08-28 23:37] sindresorhus opened #201 "Change the speed of the GIF"
A few people have requested this over email and some other GIF tools have this too.

---

**This issue requires you to have advanced Swift knowledge. It's not an easy beginner issue.**

[2020-09-04 14:48] fawkeswei commented on #201
Would be super useful for me

[2020-09-10 14:29] Oleg-Chashko opened #202 "Failed to generate frame: Cannot Decode"
macOS v.11.0 Beta (20A5364e)
Gifski v.2.9.0 (39)

**Screenshot:**
<img width="476" alt="Bildschirmfoto 2020-09-10 um 16 26 45" src="https://user-images.githubusercontent.com/62497891/92745237-7906ac80-f382-11ea-806b-99d2954212a0.png">

**Video recording:**
[Bildschirmaufnahme 2020-09-10 um 16.18.34.zip](https://github.com/sindresorhus/Gifski/files/5202315/Bildschirmaufnahme.2020-09-10.um.16.18.34.

[2020-09-10 21:17] vpicone commented on #97
I'd really love this feature. I find that in general, the settings are too high across the board for my usecases. Slack and twitter compress anyway so the end result is it takes longer to create the gifs than necessary. Default settings would be really nice.

[2020-09-13 12:21] sindresorhus commented on #202
Thanks for reporting. Are you able to reproduce it again if you convert with the exact same file and settings? What settings did you convert with (can you take a screenshot)? I was not able to reproduce this myself.

[2020-09-13 12:32] kornelski commented on #202
I've got the same error on a screen recording from Big Sur. I fails on a specific frame, every time. I can trim the problematic frame out of the animation, and it won't fail then.

[2020-09-13 12:50] Oleg-Chashko commented on #202
@sindresorhus
This is a problem only on Big Sur.
Sometimes it freezes, you have to unload it forcibly. But this rarely happens.
[Test 1.zip](https://github.com/sindresorhus/Gifski/files/5214090/Test.1.zip)
[Test 2.zip](https://github.com/sindresorhus/Gifski/files/5214091/Test.2.zip)

[2020-09-18 12:48] jussivirtanen opened #203 "Cannot convert video with dimensions of 10x60px"
I was trying to convert a small mp4 video file to gif, but got the following error message:
![gifski](https://user-images.githubusercontent.com/3430121/93598975-1dfa3880-f9c6-11ea-990d-3243f13575df.png)
The video file I tried to convert is this: https://www.dropbox.com/s/kfwbext1imy10jb/type-indicator-new.mp4?dl=0. Any ideas what's wrong here?

Thank you for the app, it's been working great so far

[2020-09-18 21:24] #203 closed

[2020-09-18 21:27] sindresorhus commented on #203
It's gonna be a month until the next release, but here's a build with the fix: [Gifski.app.zip](https://github.com/sindresorhus/Gifski/files/5248292/Gifski.app.zip)

(You need to open it by right-clicking and select "Open")

[2020-09-20 09:39] jussivirtanen commented on #203
Thanks for this fix and your quick reply @sindresorhus 👏🏻🙏🏻

[2020-09-24 12:45] kornelski commented on #202
This is the error: (AVFoundationErrorDomain Code=-11821)

https://stackoverflow.com/questions/26209099/error-domain-avfoundationerrordomain-code-11821-cannot-decode

[2020-09-24 12:53] sindresorhus commented on #202
No, that's a different error, and we're already handling that: https://github.com/sindresorhus/Gifski/blob/276042508e10e15413a34a4667e0f7f6fe383ad6/Gifski/Utilities.swift#L342

[2020-09-24 12:54] sindresorhus commented on #202
The error code is the error `AVErrorDecodeFailed`.

---

Handy tool: https://www.osstatus.com/search/results?platform=all&framework=all&search=-11821

[2020-09-24 13:03] kornelski commented on #202
Apple's documentation is useless: https://developer.apple.com/documentation/avfoundation/averror/averrordecodefailed

but the StackOverflow answer mentions they've solved it by correcting their timestamps, so I suspect this may be another case of AV getting confused by a mismatched timestamp.

[2020-09-26 11:39] sindresorhus commented on #202
Some observations. I'll look more into this when the final macOS 11 release is out.

It seems to only fail at the following timestamps (Test 1):

[code]

The error does not happen if I remove https://github.com/sindresorhus/Gifski/blob/276042508e10e15413a34a4667e0f7f6fe383ad6/Gifski/Gifski.swift#L174-L175

It also doesn't happen with:

[code]

However, it does fail with `0.2` seconds. Also, we can

[2020-09-26 11:40] sindresorhus commented on #202
What do you mean by mismatched timestamps? `AVAssetImageGenerator` is supposed to be able to handle any timestamp that is within the range of the video, even if it doesn't match up with the actual frames.

[2020-09-27 18:49] kornelski commented on #202
Oh, I forgot the framework promises to support any timestamp. I thought it could fail if you asked for a timestamp that doesn't correspond to a frame (but maybe that still happens despite the API promise).

[2020-10-09 02:10] sindresorhus commented on #198
Bump. Would be great if you could share a recording that reproduces the issue.

[2020-10-16 13:15] sindresorhus commented on #200
@kornelski I thought libgifski did the alternating frame delay trick to support 60 FPS. Or did we just talk about it but it was not implemented?

[2020-10-16 19:49] kornelski commented on #200
Alternating frame delays are implemented and allow GIF to approximately specify any framerate it wants. That's separate from browsers actually honoring the choice. 60fps requires at least some frames to have delay=1, which isn't supported.

[2020-10-18 10:42] agustif commented on #198
Hello @sindresorhus I just updated gifski, although It's not the same exact video another mp4 generated by Kap.app
brings this error

![Uploading Captura de pantalla 2020-10-18 a las 12.39.27.png…]()

here's the file
https://imgur.com/a/KorPdbn

[2020-10-20 03:01] dxcore35 opened #208 "Multiple slice ranges > multiple outputs"
My user case is to make more then one gif file from video.
- make the window bigger so the user can put more then one slicer range
- after placing as many as we wish slicers ranges, the software will export multiple gifs

---
Gifski 2.9.1 (40) - com.sindresorhus.Gifski
macOS 10.15.0
MacBook10,1

[2020-10-20 03:04] dxcore35 opened #209 "Movable range"
After setting the start and stop, when I drag the range I should be able to drag it anywhare - preserving the range duration.
It is usefull when slicing many same duration gifts from same video.

[2020-10-20 12:53] sindresorhus commented on #208
Sorry to disappoint, but this is outside the scope of Gifski. Gifski is really just a good video to GIF converter. We added a small editor for convenience, but I don't want (nor have time) to add advanced editing functionality or a batch workflow. Your use-case of exporting multiple GIFs from a single video is not very common either.

I would recommend using a proper video editing app for slicing

[2020-10-20 12:53] #208 closed

[2020-10-20 12:57] sindresorhus commented on #209
I agree that would be useful, but it's not feasible with the current component we use. The trimming component is provided by macOS and we have no control over how it works. We could request Apple to enhance it, but they haven't replied to any of my other enhancement requests about it. So the only other way is to make our own trimming component, which is a lot of effort. But I'll leave this issue o

[2020-10-21 13:22] #198 closed

[2020-10-21 15:42] #200 closed

[2020-10-24 14:12] sindresorhus commented on #130
From https://github.com/sindresorhus/Gifski/pull/205#issuecomment-714612557:

What would those constants/assumptions be? This issue is a bit vague on how exactly it should be solved.

[2020-10-24 14:14] sindresorhus opened #211 "Further improvements to file size estimate"
https://github.com/sindresorhus/Gifski/pull/205 made the estimate much more accurate, but we can still improve it:

- [ ] We currently add 10% to ensure the estimate is always more than the actual size. The percentage could be more dynamic: https://github.com/sindresorhus/Gifski/pull/205#issuecomment-709971974
- [ ] Show a range for the naive estimate: https://github.com/sindresorhus/Gifski/issues

[2020-10-24 14:18] kornelski commented on #130
[code]

The `/ 3` part is a total guess of compression ratio. It could be /5 and /2 for example.

[2020-10-24 14:19] #41 closed

[2020-10-24 14:53] sindresorhus opened #212 "Show warning if the number of frames are too low"
Gifski requires at least 2 frames in the resulting GIF, but users might accidentally trim or choose low enough FPS for the resulting GIF to contain less than 2 frames. We should show a warning in the editor's view in that case.

Right now, we just show an error when the conversion starts:

<img width="472" alt="Screen Shot 2020-10-24 at 16 53 31" src="https://user-images.githubusercontent.com/1702

[2020-11-01 21:42] janbrasna commented on #25
While I love ❤️  … love! the proposed @valeranazarov's VHS icons, I'm not sure they'd fit well as an app icon per se in the Dock, now w/ macOS 11 styling mentioned above. I can imagine they'd be totally awesome as a kind of banner/branding image for appstore splash images, repo readme etc., used in hi-res…

Nonetheless as a sole app icon, I'd go for the current neon rainbow, in a squircle and be d

[2020-11-01 21:58] janbrasna commented on #201
I can imagine a very lengthy screen recording that would benefit from speeding up, or the opposite… making the interaction/animation slower to better make a point. So it's not a bad idea at all!

[2020-11-01 22:05] janbrasna commented on #25
(speaking of the icon shape… it's sad we're losing the circular progress design [sindresorhus/DockProgress#circle](https://github.com/sindresorhus/DockProgress#circle) possibility for these macOS11–like icons 😭  — is there a new pattern emerging for those blocky icons out there yet?)

[2020-11-03 22:24] janbrasna commented on #196
I think the "(**~**##%)" approximation symbol works intuitively enough now. 👍

What might help to differentiate what's the primary value & what's secondary is: contrast, as in:

![87270206-68fd5880-c50a-11ea-94f3-73f073fb26f4](https://user-images.githubusercontent.com/1784648/98044150-bc334800-1e26-11eb-9460-db2ad2fc7886.png)

… but i have no idea about such feasibility in Swift/UI.

- - - - - -

[2020-11-03 23:36] sindresorhus commented on #196
@janbrasna That's a good idea.

I'm also wondering if it would help if we aligned them as columns:

[code]

[2020-11-05 14:59] sindresorhus opened #214 "Re-enable the dock icon progress indicator"
Depends on https://github.com/sindresorhus/DockProgress/issues/11

[2020-11-05 15:06] sindresorhus commented on #25
We can still have that. Someone just needs to fix https://github.com/sindresorhus/DockProgress/issues/11 first.

[2020-11-05 15:08] sindresorhus commented on #25
I have [added](https://github.com/sindresorhus/Gifski) a Big Sur style icon now. It's not final, but it's good enough until Valera has time to help out again.

[2020-11-08 17:04] sindresorhus opened #215 "Full Apple Silicon support"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2472.8%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/gifski-app/issues/215)

I currently get this warning:

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $72.80)

- [<img src='https://avatars1.githubusercontent.com/u/170270?v=4' alt='sindresorhus' width=24 height=24> sind

[2020-11-09 13:20] kornelski commented on #215
When compiling libgifski you need to add `--target=aarch64-apple-darwin` to `cargo build` and it'll build `target/aarch64-apple-darwin/release/libgifski.a` compatible with Apple Silicon. That may require some wrangling with the xcode project file.

[2020-11-09 22:28] sindresorhus commented on #215
So we need two different build configurations in `Vendored/gifski.xcodeproj`? And then we need the `Gifski.xcodeproj` to pick the correct `libgifski.a` based on the platform?

I'm not familiar with Rust and how the build stuff works, so I'm going to leave this for someone else.

---

I did try adding the build flag and:

[code]

And it stopped there.

[2020-11-09 23:29] kornelski commented on #215
I think the Apple Silicon support in Rust is still pre-release, so until it makes it to a stable version, you first need `rustup default nightly`.

Xcode supports per-architecture variables:

<img width="557" alt="vars" src="https://user-images.githubusercontent.com/72159/98608560-60176a80-22e3-11eb-8531-057276730cbf.png">

so perhaps this could be injected into xcode config somehow?

[2020-11-25 16:36] sindresorhus commented on #123
I have decided not to do this. I think Gifski should stay focused on being a converter.

[2020-11-25 16:36] #123 closed

[2020-11-26 10:32] codeclown commented on #201
I usually need to speed up gifs I make for Twitter/GitHub ([example](https://github.com/codeclown/helppo/blob/master/docs/screenshots/readme_intro.gif)). Currently I use ffmpeg as an intermediate step, but it would be super nice to have the option directly in Gifski.

[2020-12-03 07:03] sindresorhus commented on #214
Fixed by https://github.com/sindresorhus/Gifski/commit/d6f4359f74bb851c1e8a32de9045d4e9423ca882

[2020-12-03 07:03] #214 closed

[2020-12-11 17:30] aheze commented on #202
Similar problem here.

![Screen Shot 2020-12-11 at 9 28 52 AM](https://user-images.githubusercontent.com/49819455/101935083-5bb8c880-3b93-11eb-9faa-767c1a1f2be4.png)

Here is the mov file:

[always.mov.zip](https://github.com/sindresorhus/Gifski/files/5680649/always.mov.zip)

I am on Big Sur 11.0.1 on Apple silicon.

[2020-12-20 08:03] sindresorhus commented on #202
@aheze Can you try upgrading to macOS 11.1 and then try rerecording and converting? I read in the release not that it fixes an issue with scree recordings.

[2020-12-21 09:00] sindresorhus opened #219 "Crop video"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/gifski-app/issues/64/badge.svg" />](https://github.com/sindresorhus/Gifski/issues/64)

**The bounty refers to a different issue, but it applies here.**

It could sometimes be useful to crop the video.

If we do this, it should be fully made in SwiftUI.

---

This issue requires advanced Swift and SwiftUI knowledge. It's not an e

[2020-12-25 17:38] aheze commented on #202
@sindresorhus just updated and tried the same video file, but got the same crash

[2020-12-25 18:10] sindresorhus commented on #202
@aheze

Because this is most likely a bug in the screen recorder that creates invalid videos.

[2020-12-25 18:13] aheze commented on #202
Ah. That's probably the problem, I was using xcrun to screen record the simulator...

[2020-12-25 18:16] sindresorhus commented on #202
This is the release note item I was talking about:

[2020-12-25 18:18] aheze commented on #202
@sindresorhus Hmm. My Xcode is still on 12.2, I'll try updating.

[2021-01-15 13:54] soshimee opened #220 "Mac app ridiculously slow"
I just checked out Gifski, then I realized it wasn't working, so I tried the CLI version. CLI version worked fine, but Mac App Store one could barely process 64x64 sized videos.
Maybe related to Big Sur update?

[2021-01-15 14:02] kornelski commented on #220
Does it apply to all videos?

Can you use Activity Monitor to create a spindump report of the app while it's processing?

[2021-01-15 14:10] soshimee commented on #220
Dunno, can you give me some sample videos? I don't have that many videos so... The current video format that I'm using is mp4.

[2021-01-17 09:46] fregante commented on #220
Just as another point: Today I tried converting a 12MB 720p MOV screencast on Big Sur and it suggested 4 minutes build time and >120MB output. I don't know if that's standard.

[2021-01-19 11:21] kornelski commented on #220
Oh, that's totally expected. That's how the awful GIF format from 1989 works.

GIF was designed for "16p" animations. Throwing 720p content at it is pushing GIF to its limits, so expect it to be incredibly slow and unfanthomanbly huge.

[2021-01-19 11:26] kornelski commented on #220
@sindresorhus Maybe the app could warn about creating overkill GIFs? Warn when resolution is >= 720p, and/or when the total size of all frames is huge.

[2021-01-19 11:54] sindresorhus commented on #215
`rustup target add aarch64-apple-darwin` now works.

[2021-01-20 01:43] soshimee commented on #220
I'm fine with big outputs, but it takes HOURS to do that on the Mac app but
takes only several minutes on the CLI app.

[2021-01-22 11:41] sindresorhus commented on #220
@soshimee It did indeed get slower with Big Sur. Would you be able to share the 64x64 video with me? (You can send it privately too). Gifski is slow with 720P video, but a 64x64 video should be no problem.

[2021-01-22 12:31] #202 closed

[2021-01-22 23:19] fregante opened #223 "File estimation continues even after I click Convert"
Tried on both Big Sur and Catalina

1. Drag a large video file (in my case 12MB 720p .mov)
2. Click "Convert" button before the "Calculating Accurate Estimate" is done

## Click "Convert" right away

Waits a few seconds before starting, the estimate is not correct

![gif](https://user-images.githubusercontent.com/1402241/105559069-d23dff80-5cd5-11eb-8a47-4d643daac1e5.gif)

## Wait for estimation t

[2021-01-22 23:21] fregante commented on #223
I also tried the build from https://github.com/sindresorhus/Gifski/pull/221 but nothing changed.

[2021-01-25 20:36] #223 closed

[2021-01-28 13:34] kornelski opened #224 "Improved compression in gif.ski 1.3.1"
Pull in the latest update

[2021-01-31 08:57] #224 closed

[2021-02-03 19:43] fiendish opened #226 "Dark green flicker in background"
This gif was made with macOS built-in screen recording to .mov and then drag/drop onto gifski. It shows a weird green flicker.

![Screen Recording 2021-02-03 at 12 36 51 PM](https://user-images.githubusercontent.com/201996/106800061-3be6d380-661d-11eb-9d1a-e08d5013d7a3.gif)

---
Gifski 2.13.0 (45) - com.sindresorhus.Gifski
macOS 10.14.6
MacBookPro14,3

[2021-02-03 20:27] sindresorhus commented on #226
Can you try this build and see if it fixes the problem? https://github.com/sindresorhus/Gifski/files/5888842/Gifski.app.zip

[2021-02-03 21:10] fiendish commented on #226
It doesn't appear to run. On first try I get the normal "Are you sure you want to open this?" message from macOS, and when I say yes nothing happens afterward.

[2021-02-04 13:15] sindresorhus commented on #226
@fiendish Weird. It works fine for me. Can you try this build then? https://github.com/sindresorhus/Gifski/files/5921271/Gifski.app.zip

Would you also be able to share the source video so I can reproduce and look into the issue?

[2021-02-04 15:07] fiendish commented on #226
Ah, they work when I put them in my Application folder. Wasn't running from Downloads. 🤷‍♂️

Both builds work. Here is the original for future regression testing:

https://user-images.githubusercontent.com/201996/106912097-ef080900-66bf-11eb-845a-d40ff1436971.mov

[2021-02-05 10:03] sindresorhus opened #229 "Remove use of `generateCGImagesAsynchronously`"
The API has been a constant PITA and it's super buggy.

Instead, we should use `AVAssetReader` and `readerOutput.copyNextSampleBuffer()`.

I think it would be best to wrap up all the logic into a similar interface as `generateCGImagesAsynchronously`, but instead of accepting time points, it would accept FPS.

Some inspiration here: https://github.com/twostraws/ControlRoom/blob/659c5d5f3ab982ea54c9

[2021-02-07 15:45] Oleg-Chashko opened #230 "Freezes during conversion when using 50fps or Trim"
- macOS Big Sur v.11.2 (20D64)
- Gifski v.2.13.1 (46)

**Screen Recording: 50fps**

https://user-images.githubusercontent.com/62497891/107151531-598ca380-6963-11eb-843b-b5ce5aa074a5.mov

**Screen Recording: Trim**

https://user-images.githubusercontent.com/62497891/107151578-9c4e7b80-6963-11eb-8cc9-98542fc98fd7.mov

**Test file**
[Test file.zip](https://github.com/sindresorhus/Gifski/files/5939282

[2021-02-07 16:32] sindresorhus commented on #230
Thanks for reporting. I think this will be fixed in the next version. It fixed it for me. Could you try and confirm?

https://github.com/sindresorhus/Gifski/files/5937337/Gifski.app.zip

[2021-02-07 20:22] Oleg-Chashko commented on #230
I am glad to help.
- Trim bug - Fixed. 😀
- 50fps bug - Not fixed. 🙁
<img width="472" alt="Screen Shot 50fps" src="https://user-images.githubusercontent.com/62497891/107158461-78eaf700-698a-11eb-8a3d-3c9804703884.png">

[2021-02-09 10:36] sindresorhus opened #231 "Produces empty GIF for very short video"
@kornelski https://github.com/sindresorhus/Gifski/pull/222 introduced an issue where this video produces an empty invalid file: [Short.mp4.zip](https://github.com/sindresorhus/Gifski/files/5950638/Short.mp4.zip)

Before this change:

![Short](https://user-images.githubusercontent.com/170270/107351122-d30bc980-6afc-11eb-960f-a85488ab0673.gif)

After:

[Short.gif.zip](https://github.com/sindresorhus

[2021-02-10 04:54] #230 closed

[2021-02-10 04:55] sindresorhus commented on #226
This is now fixed in the latest Gifski version. Just go to https://apps.apple.com/no/app/gifski/id1351639930?mt=12 and click "Update".

[2021-02-10 04:55] #226 closed

[2021-02-13 03:31] kornelski commented on #231
Fixed in https://github.com/ImageOptim/gifski/commit/2f62fbecf57430d3d5b88c817378b570be2c9740

[2021-02-15 22:43] taylorjdawson opened #232 "Feature: Add text captions"
It would be great to be able to add text captions to gifs!

[2021-02-16 07:35] sindresorhus commented on #232
This is most likely not happening. Gifski is intended to be a GIF converter. However, I'm leaving this open in case anyone wants to work on this. It's expected that the one working on this has advanced Swift knowledge, the feature should be discussed before a pull request is submitted, and the feature should be implemented in SwiftUI.

[2021-02-17 11:06] siamos93 opened #233 "Rounded corners at the bottom of the window"
Hello,
I have an export problem on mac os (Big Sur 11.2.1).
In my gif export, I have 2 rounded corners that appear at the bottom left and right. Is there a way to remove them?
The rendering is not great when I import it into Behance for example.

And well done and thank you for this great and very useful application!

Thx,
<img width="992" alt="screen" src="https://user-images.githubusercontent.co

[2021-02-17 11:36] sindresorhus commented on #233
Gifski should not add rounded corners. Would you be able to share the source video so I could reproduce? Most likely the source video has rounded corners too.

[2021-02-17 12:46] siamos93 commented on #233
I first exported directly to XD. Are the rounded edges coming from there?

[2021-02-17 12:53] kornelski commented on #233
Does the video format support transparency? Some formats like VP9 do.

[2021-02-17 12:57] siamos93 commented on #233
Hello @kornelski I don't know, few export settings for Adobe XD… The prototype is saved directly in .mp4 format. I do not know if this problem exists on PC or if it is specific to the windows of the ios interface with its rounded edges ...

[2021-02-17 12:59] kornelski commented on #233
@siamos93 There's 99.99% chance that the GIF looks exactly like your exported video, i.e. you've exported a video that has black rounded edges.

[2021-02-17 13:00] siamos93 commented on #233
Yes that's what I'm telling myself. I'll have to dig on the XD side ;-p Thanks to you anyway!

[2021-02-17 13:57] #233 closed

[2021-02-22 07:15] sindresorhus opened #234 "Support back-and-forth (yo-yo)"
A few people have requested this over the years. I'm still not sure we should do it. There are endless amounts of editing features we could add but I would like to keep Gifski focused on converting and simple. Show your opinion on this with GitHub Reactions.

---

If we were to implement this, we would have to take the video track element, copy it, reverse the copy, and then put the copy after the

[2021-03-05 01:16] leejongyoung opened #235 "Support M1 Chip Native App"
It's a useful tool
However, I want to support M1 Native App.
Do you support me to run without Rosetta?

[2021-03-05 03:12] sindresorhus commented on #235
Duplicate of #235

[2021-03-05 03:13] sindresorhus commented on #235
Duplicate of #215

[2021-03-05 03:13] #235 closed

[2021-03-14 07:26] #215 closed

[2021-03-14 17:34] sindresorhus opened #237 "Support showing video transparency in the editor"
Currently, the video player in the editor just shows a black background for videos with an alpha channel. I think this is a limitation in `AVPlayerView`, but if anyone knows a way to make it work, let me know. According to [this session](https://asciiwwdc.com/2019/sessions/506) from WWDC 2019, `AVPlayer` should support videos with alpha channel.

<img width="917" alt="Screen Shot 2021-03-15 at 00

[2021-04-25 09:08] #234 closed

[2021-04-28 20:12] jxdesign opened #240 "GIF File Size Strange!"
Hey not sure what's happening. I've used Gifski for dozens of videos and it's worked fine.

I have a 15 second video an .mp4 that's 12 mb.

When I run Gifski using default settings, the file size ends up being 180 mb! When I use a smaller dimension, at 50% the file size is still 52 mb. I know the Gifski numbers are estimates, but the final products after making the GIFs are around those numbers.

[2021-04-29 08:35] sindresorhus commented on #240
That's unfortunately completely expected in some cases. The GIF format is old and very inefficient, both performance and size-wise. Video codecs are very good at reducing file size by using a lot of cross-frame optimizations. GIF doesn't support these techniques. Gifski, however, does its best to reduce the file size, by for example, reducing noise, so it can better diff frames. In this specific c

[2021-04-29 10:11] kornelski commented on #240
@sindresorhus How about adding " (why so large?)" link in the status bar next to the estimate?

[2021-04-29 11:25] sindresorhus commented on #240
@kornelski That's a good idea. What do you think the threshold should be?

[2021-04-30 18:04] jxdesign commented on #240
Cool, I can share the file. Should I email it to you @sindresorhus?

I wonder why nobody has improved upon the GIF format if it's "old and inefficient". GIFs are incredibly useful and valuable to quickly communicate something. For example, I can embed a GIF in a Github comment, but I can't do the same with a video.

[2021-04-30 18:11] sindresorhus commented on #240
Yes

I'm sure people have tried, but you cannot break backwards compatibility, so there's not that much you can do.

GitHub supports videos now actually. Hopefully, more websites will follow. The most ideal solution IMHO is using videos in `<img>`: https://mpulp.mobi/2018/04/04/video-image-tags/

[2021-04-30 20:42] kornelski commented on #240
Oh, they have been continually improving it for the last 30 years. Instead of 256 colors, slow decoding, tiny resolution, and huge file sizes we have formats with full-color, 4K+ resolution, HDR-capable, hardware-accelerated, and still 15x better compression.

We just call these "video" formats now. They've advanced so far beyond GIF that they don't seem like the same thing any more.

[2021-05-04 14:21] sindresorhus commented on #240
I looked at the video you sent and I don't think there's anything we can do to improve how Gifski handles it. The video has a lot of noise and the background is not static, meaning there's pretty much nothing that can be diffed, so the GIF has to include each frame.

If you want to improve the GIF size in the future, I recommend filming against a hard (no fabric) completely black/white background,

[2021-05-04 17:09] jxdesign commented on #240
Great! Thanks for the tips, appreciate that you had a look.

On Tue, May 4, 2021 at 7:22 AM Sindre Sorhus ***@***.***>
wrote:

[2021-05-06 02:58] hazeycode commented on #108
PR #241

[2021-05-10 10:10] alexkaessner commented on #201
I recently also had the case I wanted to share a relatively lengthy screen recording. To speed things up **and** save frames (hence file size), I wanted to speed the GIF up by 2×. Speeding the video up was better in this case compared to lower the frame rate to something like 5-10 fps. I ended up converting the video with Compressor and then created the GIF with Gifski.

[2021-05-10 10:19] alexkaessner opened #242 "Numeric value for quality slider & allow inputting those values via keyboard"
I’m not sure why the quality slider doesn’t show a numeric value. Would be quite nice to see a percentage. Especially when experimenting with different file sizes, I could then remember which quality value I used the last time.

Combined with that it would also be handy to just type in a specific value for the quality or FPS. This way, I don’t have to fiddle around with the slider to get my desire

[2021-05-12 11:17] sindresorhus commented on #242
Thanks for the feedback!

I just never had a need to see the exact percentage, so I didn't add it initially. And in the 3 years Gifski has existed and with hundreds of reviews and feedback, no one has requested this. So doesn't seem like it's important, but I also don't have any argument for why we shouldn't add it.

@kornelski Any opinions?

I generally like small conveniences. We have up/down ar

[2021-05-12 13:09] kornelski commented on #242
The quality is an approximation, so I see no point entering exact numbers. People will be upset with me when I tweak the algorithm and change meaning of their favorite number.

If you want to make it easier to select consistent quality, I suggest changing it from a number to low/medium/high/max.

[2021-05-12 14:37] vadimdemedes commented on #242
I agree with this. In all my time of using Gifski, I had never even touched the quality slider, to be honest.

As for FPS, sometimes I tweak it and see how it affects the estimated file size. Also, I don't think a text input would be useful for FPS either, because the step in the slider is pretty smooth, so it's easy to drag it to a desired value. If the range of values was in hundreds, for exampl

[2021-05-12 15:08] alexkaessner commented on #242
I always find it better to have some reference for a slider. Otherwise, as a user I don’t know in what kind of range I’m moving. What are the lowest and highest values I can get? Is it just a fine detail or does it make actual big differences. Not really easy to grasp.
Though yeah, the quality is admittedly a rather abstract thing anyway. Maybe I’m a bit of a numbers nerd in that regard, that I wa

[2021-06-02 10:10] sindresorhus commented on #201
This is now "PR welcome".

[2021-06-12 11:31] #231 closed

[2021-06-12 17:01] sindresorhus opened #244 "Rewrite parts of Gifski in SwiftUI"
Some things that could independently be rewritten in SwiftUI:

- [ ] The initial drop view.
- [ ] Edit window (or smaller parts of it):
	- [x] File size estimate
	- [ ] Video player / trimmer
	- [ ] GIF settings
- [ ] The conversion progress (should be much simpler to implement in SwiftUI)
- [ ] Conversion completed screen
- [ ] `CheckerboardView` (using `SwiftUI.Canvas`)
	(I have this one already

[2021-06-27 08:15] #190 closed

[2021-06-27 08:18] sindresorhus commented on #108
https://github.com/sindresorhus/Gifski/pull/241#issuecomment-869121738

[2021-06-27 08:18] #108 closed

[2021-06-27 08:21] sindresorhus commented on #108
@hazeycode I wanted to give you the bounty for your effort, but the IssueHunt website is broken and I cannot access the issue page there... Same issue as: https://spectrum.chat/issuehunt/general/error-when-accessing-an-issue-page~edd3be59-9228-472f-ae32-ce888e56bc1c

[2021-06-27 08:43] sindresorhus opened #246 "Shortcuts ideas?"
[Shortcuts is coming to macOS 12.](https://9to5mac.com/2021/06/20/macos-monterey-shortcuts-app/)

I'm gathering ideas for what kind of shortcut actions Gifski could provide.

[2021-07-08 03:05] apkelly opened #247 "End frames dropped if they're the same"
Hi,

I have a video that shows an animation that comes to rest in a final state and the video shows that final state for 2-3 seconds. However, when this video is converted to a .gif, the final state is only shown for a single frame. I'd like the gif to be as long as the video without it truncating duplicate frames at the end.

Or at least give me a checkbox to allow me to preserve all the frames i

[2021-07-10 11:06] sindresorhus commented on #247
There's unfortunately a bug in macOS 11 where videos with few key frames fail to decode many frames. This is completely out of our control. We plan to move to a different way to generate the frames, but it's a lot of work, so will take some time: https://github.com/sindresorhus/Gifski/issues/229

A quick workaround is to export with a higher frame rate and use ProRes. If you cannot re-export, you

[2021-07-28 13:36] gifars112 opened #249 "Transparent colors are duplicated in ver1.4.0"
Transparent colors are duplicated in ver1.4.0.
This is inconvenient when editing gifs.
![sakura_2021-07-28_22-18-05](https://user-images.githubusercontent.com/88094418/127329133-0f3f548b-4daf-46ce-9a0d-09158b14c19b.jpg)

[2021-07-28 14:18] sindresorhus commented on #249
You are using a very old version of Gifski. Try upgrading.

[2021-07-28 14:56] kornelski commented on #249
BTW, this is not a duplicate color. If a color is designated as transparent, its palette entry is unusable, so another palette entry must be used to have this color as opaque.

[2021-07-28 16:45] #249 closed

[2021-08-21 13:03] arduinka55055 opened #250 "Linux GUI support?"
i know, it is macos only. but macos is almost like linux, so there's posix, and you probably can port it painlessly

what do you think?

[2021-08-21 21:05] kornelski commented on #250
It doesn't work like that, unfortunately. The GUI tookit that macOS uses is Apple's proprietary, and not available on any other platform.

However, the command-line version (https://gif.ski) works on Linux just fine.

[2021-08-21 21:05] #250 closed

[2021-08-22 18:22] arduinka55055 commented on #250
Ok, thanks. your project is good anyways.

[2021-09-11 12:50] #201 closed

[2021-09-11 12:50] #247 closed

[2021-09-12 04:19] sindresorhus commented on #201
This is now out: https://apps.apple.com/app/id1351639930

[2021-09-12 04:31] sindresorhus commented on #247
This was fixed in Gifski v2.17.0: https://apps.apple.com/app/id1351639930

[2021-09-16 09:34] Angelk90 opened #251 "Localizable"
Hi @sindresorhus , it would be very nice to have the support to have application in multiple languages.

[2021-09-16 09:42] Angelk90 opened #252 "Duration of time"
Hi @sindresorhus , in addition to knowing the estimated size, it would also be possible to know how long the video lasts after editing.

https://user-images.githubusercontent.com/20476002/133589612-3617b60d-c784-409d-9d9e-a068e836252a.mov

[2021-09-16 10:13] sindresorhus commented on #251
I unfortunately don't have any immediate plans to localize the app. This is an app I do for fun in my spare time and managing localizations just takes too much effort.

[2021-09-16 10:13] #251 closed

[2021-09-16 10:34] sindresorhus commented on #252
That's a very good point. I'm surprised no one else has requested this.

Where in the UI would you want to see the duration?

[2021-09-16 10:36] Angelk90 commented on #252
@sindresorhus : Maybe before or after Estimated size?

[2021-09-16 10:41] sindresorhus commented on #252
I was thinking either there or below "Loops:", because there's space there. I'll play with it when I have some time.

[2021-09-22 10:07] sindresorhus opened #254 "The trim leading video frames feature fails sometimes"
@codetheweb I have noticed that there are a bunch of Crashlytics (automated) reports about this feature not working: "Could not trim empty leading frames from video.". Any ideas?

---

[2021-09-22 14:43] codetheweb commented on #254
I was able to reproduce this by creating a v210 encoded .mov file:

https://user-images.githubusercontent.com/7410405/134365364-ab83c10e-b7ca-4510-8d92-a78209dba128.mov

I'll try and take a look later today.

[2021-09-22 19:47] codetheweb commented on #254
It seems that every `sampleBuffer.totalSampleSize == 0` (https://github.com/sindresorhus/Gifski/blob/5c966175e4b449c23b95cc962acc111294441e27/Gifski/Utilities.swift#L636) when scanning through the file.

[This](https://stackoverflow.com/questions/9469931/avfoundation-read-raw-single-frames-from-mov-file-v210-uncompressed-10-bit-4) suggests that a different output format might be necessary, but I t

[2021-09-26 09:03] sindresorhus commented on #254
Thanks for investigating. This really looks like a macOS bug...

How about we do this?
- Specifically detect `v210` and `BGRA` in `trimmingBlankFrames()` and don't throw the `videoTrackIsEmpty` error. We can reconsider the specific check if we get reports of others codecs hitting this too.
- In `VideoValidator.swift`, continue showing the error message, but let the user continue after showing it.

[2021-10-04 05:16] #252 closed

[2021-10-05 11:09] sindresorhus commented on #252
This is now available: https://apps.apple.com/no/app/gifski/id1351639930?mt=12

[2021-10-21 01:09] FriendlyUser10 opened #258 "Inability to use mp4s without Rust installation, which of course isn't working due to faulty installations"
Is it possible to get the video feature from:

`cargo install gifski --features=video`

…without using Rust/cargo? I've been on the Rust board, faced several errors (artifacts in folders it creates from installation?) and none seem to fix the issue from simply running the .exe file given for Windows users.

I'm just trying to make the app as convenient for myself as the Mac version was/is now that

[2021-10-21 03:55] FriendlyUser10 commented on #258
New error upon restarting.

`cargo install gifski --features=video
        Updating crates.io index
      Installing gifski v1.5.1
    warning: output filename collision.
    The bin target `gifski` in package `gifski v1.5.1` has the same output filename as the lib target `gifski` in package `gifski v1.5.1`.
    Colliding filename is: C:\Users\...\AppData\Local\Temp\cargo-installX2OD2e\release\gif

[2021-10-21 05:23] #258 closed

[2021-10-29 19:43] sindresorhus commented on #254
Thank you so much for finding a fix. Can you confirm that Gifski v2.19.3 fixes the issue?

[2021-10-29 20:29] codetheweb commented on #254
v2.19.3 does seem to have fixed it for me. 👍

[2021-10-31 04:42] sindresorhus commented on #254
Thanks for confirming.

[2021-10-31 11:40] ptrkstr opened #259 "SwiftUI crash in validateDimension #1 (min:ideal:max:)"
#### Meta:
- macOS 12.0.1 (21A559)
- gifksi 2.19.2 (57)

#### Steps:
1. Download following mp4: https://giphy.com/gifs/the-office-mrw-d10dMmzqCYqQ0
1. Open Gifski
1. Drag and drop or open file window to the above file

#### Expected:
- Program doesn't crash

#### Actual:
- Crash occurs

#### Crash Details:
[code]

[2021-10-31 18:05] codetheweb commented on #254
Getting back to the issue at hand:

Not sure what's going on. I created a file that's as close to one of the logs above:

as possible (my file):

but it was handled just fine.

This is a wild guess, but maybe there's some subtle differences in AVAsset handling depending on whether the architecture is x86 / ARM? Are you able to see the arch in crash reports?

Thanks for the sponsor! :)

[2021-11-01 07:41] sindresorhus commented on #259
Thanks for reporting. This is a macOS 12 bug and was worked around in Gifski 2.19.3.

[2021-11-01 07:41] #259 closed

[2021-11-01 08:13] ptrkstr commented on #259
Thank you for fixing it @sindresorhus ❤️

[2021-11-08 11:15] lostdesign commented on #215
@sindresorhus there still is a fund on this issue. Just letting you know.

[2021-11-08 23:36] kornelski commented on #136
Because gifski tries to encode differences between frames, non-consecutive frames will look a bit different than in the full anim.

How about starting encoding from the start and allowing viewing everything that has been encoded so far?

[2021-11-10 06:11] sindresorhus commented on #254
Only x86 machines.

[2021-11-10 06:14] sindresorhus commented on #254
Noticed a new codec that failed:

[2021-11-13 21:59] codetheweb commented on #254
Given that we're not doing anything particularly fancy and this is happening across multiple codecs it seems to be a bug in AVFoundation in some capacity, but since I can't reproduce it I don't know where to begin investigating. The other thing I thought of today is we could try [preloading the metadata](https://developer.apple.com/documentation/avfoundation/media_assets_and_metadata/loading_media

[2021-11-13 22:09] codetheweb commented on #254
Note that I did recently get an ARM MacBook and that ProRes file that I generated earlier that worked on x86 no longer seems to work on ARM (just shows black frames and the message "Failed to get estimate" in the corner).
Although the same file was also previously playable in QuickTime and even that isn't working anymore.

Probably not related if all crash reports are on x86 but weird behavior non

[2021-11-24 18:13] sindresorhus commented on #254
Maybe at some point, but it's not a big problem as we still let continue. I have a small hope that someone will eventually email me a test case...

[2021-11-24 18:15] sindresorhus commented on #254
Yeah, I doubt that's it.

[2021-11-24 18:31] sindresorhus commented on #254
Some more thoughts. Wonder if we need to check https://developer.apple.com/documentation/coremedia/cmsamplebuffer/3242544-datareadiness

Or whether we need to wait for https://developer.apple.com/documentation/coremedia/cmsamplebuffer/3242541-databecameready

Also slightly relevant: https://stackoverflow.com/questions/29385893/buffer-size-of-cmsamplebufferref

[2021-11-24 19:02] codetheweb commented on #254
Maybe? I can't find much documentation on `.dataReadiness`. There's also `.makeDataReady()`, but again it's not clear if it actually does anything or if it just changes a property.

Doing `CMSampleBufferGetImageBuffer(sampleBuffer)` (as shown in the SO post) always returns nil.

[2021-12-26 14:42] Satismaris opened #260 "dotnet quit unexoectedly"
I am trying to run my code in visual studio for mac 2019 but I get this error. How can I fix it? (Macos highsierra 10.13.6)

`Process:               dotnet [3492]
Path:                  /usr/local/share/dotnet/dotnet
Identifier:            dotnet
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        vsdbg [3491]
Responsible:           dotnet [3492]
User ID:

[2022-01-05 19:09] sindresorhus opened #261 "Artifacts on 0-20% quality with screen recording"
![Screen Recording 2022-01-05 at 20 04 53](https://user-images.githubusercontent.com/170270/148274421-a1d41304-e418-45ea-b21c-69a45289afaf.gif)

Source video: https://user-images.githubusercontent.com/170270/148274565-5ec81390-60fc-4eab-ad18-b2839deca842.mov

@kornelski Is there anything the gifski library can do about this?

[2022-01-05 23:29] kornelski commented on #261
I don't think it's a bug per se — it is working as designed. When you ask for low quality, you get frames limited to very few colors. MPEG compression adds changes all over the place, which requires redraw of a large area, which then is a mess, because it isn't allowed to use enough colors to redraw it nicely.

This case could have been handled better if I optimized specifically for it, but I neve

[2022-01-06 00:08] sindresorhus commented on #261
As a temporary fix, what do you think of making the "Quality" slider range be constrained to `0.2...1`?

[2022-01-06 10:42] kornelski commented on #261
Yes.

[2022-01-10 16:30] #85 closed

[2022-01-12 17:03] sindresorhus commented on #261
@kornelski With latest Gifski, I noticed a small artifact on the lowest quality. Notice how the blue rectangle at the top (which says "Open the Mac app store...") is stuck on all the frames. Not a big deal. Just wanted to mention it in case there's anything that can be done about it. It was a user that sent me this.

![Screen Recording 2022-01-12 at 23 53 47](https://user-images.githubusercontent.

[2022-01-13 00:00] kornelski commented on #261
This artifact is file size reduction in action. Transparent pixels are cheaper than white pixels, so they get used when they're "close enough", and at low quality, everything is close enough.

[2022-01-13 17:42] sindresorhus opened #265 "Artifacts on full quality"
![Screen Recording 2022-01-14 at 00 35 56](https://user-images.githubusercontent.com/170270/149381118-08881936-9e1e-426e-9374-568f4b464a83.gif)

Source: https://user-images.githubusercontent.com/170270/149381146-d0fd1322-fc12-41d9-a868-04a975d7457a.mov

// @kornelski

[2022-01-13 17:43] sindresorhus commented on #265
With Gifski 2.19.0 (before the gif.ski upgrade):
![Screen Recording 2022-01-14 at 00 35 56](https://user-images.githubusercontent.com/170270/149381533-5054f094-4f63-46bc-b40a-9a19855af2de.gif)

[2022-01-13 18:59] kornelski commented on #265
Ouch.

[2022-01-15 08:35] sindresorhus opened #266 "Crash in gif.ski"
https://console.firebase.google.com/project/gifski/crashlytics/app/ios:com.sindresorhus.Gifski/issues/c2da0bdd2b7fae3c734166dbf7d61d60?time=last-seven-days&sessionEventKey=a6fc7bdec398422caf43bda02b3a0a44_1631347088885649806

Gifski 2.20.0 on macOS 12.1.0

[code]

// @kornelski

[2022-01-15 08:42] sindresorhus commented on #261
I kinda feel that when the whole contents change (in the GIF when there's a page change), it should **waste** some white pixels to get a clean slate. But it's not a big deal.

[2022-01-15 15:02] kornelski commented on #266
Are you able to capture stderr? That would be helpful, since it lacks the error message.

[2022-01-15 17:51] sindresorhus commented on #266
The error is from a random user, not me. The Crashlytics report does not include stderr.

[2022-01-15 17:52] sindresorhus commented on #266
Is there anything we can do to ensure the error message is included in the future?

[2022-01-15 18:01] kornelski commented on #266
Yeah, I could capture panics and return them from the API as errors + strings.

[2022-01-15 18:30] sindresorhus commented on #266
Isn't that unsafe? Panic is by definition for unrecoverable errors, so if it's actually recoverable, shouldn't the API panicking use `Result` or something instead? I have no idea how Rust works though.

[2022-01-15 18:45] kornelski commented on #266
It's safe. Panic is equivalent to ObjC exception. It's thrown *before* something unsafe happens.

[2022-01-15 18:51] #265 closed

[2022-01-15 18:51] kornelski commented on #265
Fixed

[2022-01-18 04:30] sindresorhus opened #267 "Alpha channel not preserved with low quality"
Got a report from a user that the alpha channel is not preserved. I can reproduce when the quality is set to less than 30%. This is a regression from Gifski 2.19.0 (before the gif.ski upgrade).

#### Gifski (main branch)

![Long Press-cropped-comp](https://user-images.githubusercontent.com/170270/149871033-d270ca35-6e1b-446e-8d7d-7c984f585654.gif)

#### Gifski 2.19.0 (older version)

![Long Press-

[2022-01-18 04:32] sindresorhus commented on #267
Another fixture. This one just shows a one frame flash (but that's a regression too).
![puppets_with_alpha_hevc](https://user-images.githubusercontent.com/170270/149871441-3d02fd3a-e3f9-44ac-bb75-22502224e8bb.gif)

https://user-images.githubusercontent.com/170270/149871462-572e4082-7f83-494e-a4fe-5e44e7a7724c.mov

[2022-01-19 09:48] Jdb156158 opened #268 "Gifski v1.6.3 | There is a big problem with synthesizing pictures of transparent channels"
[source material.zip](https://github.com/sindresorhus/Gifski/files/7895885/source.material.zip)

Boss, after I use gifski to synthesize the above pictures to generate GIF, the color values of GIF pictures are disordered. I test that it will appear only when the material background is transparent in a large area.

Operation steps:
gifski --repeat 1 --fps 1 -o anim. gif IMG*. png

Gifski version:
v1

[2022-01-19 09:54] sindresorhus commented on #268
@Jdb156158 This is the issue tracker for the Gifski Mac app. Can you open your issue on https://github.com/ImageOptim/gifski instead?

[2022-01-19 09:54] #268 closed

[2022-01-19 20:53] kornelski commented on #267
Fixed in eeaa53c9d2361087246543c3cd1bb9f294eafc3d

[2022-01-20 04:25] sindresorhus commented on #267
Confirmed fixed. Thanks for the quick fix.

[2022-01-20 04:25] #267 closed

[2022-02-07 07:01] egorpezdir opened #270 "Missing frames"
Hello, so i exported a png sequence with transparent background (its an object disappearing) and gifski seems to be skipping the end frames where the image is completely transparent. What can i do?

[2022-02-07 12:25] kornelski commented on #270
Does it also happen with the command line version of gifski?

Can you share the PNG images to reproduce the issue?

[2022-02-07 13:37] egorpezdir commented on #270
i am using the command line version (_gifski -o output.gif frame*.png_)

[here](https://drive.google.com/drive/folders/1CwoJdxu2Rb2FBTJ6H4rdk0B6vUf2SEsR?usp=sharing)

[2022-02-18 15:42] shruru opened #271 "[Feature Request] Able to add watermark / text please"

[2022-02-18 15:46] #271 closed

[2022-02-18 16:00] shruru commented on #271
Thank you , well noted.

[2022-03-17 04:05] QiuYeHong90 opened #273 "真厉害"
真厉害

[2022-03-17 08:50] sindresorhus commented on #273
🙏

[2022-03-17 08:50] #273 closed

[2022-05-21 11:06] onanana opened #274 "path matter"
if path have a blank space, gifski doesnt work.

[2022-05-21 11:55] kornelski commented on #274
You need to put such paths `"in quotes"`.

[2022-05-21 11:55] #274 closed

[2022-06-08 12:11] AlejandroDGR opened #275 "Installing gifski in Colab fails"
I'm trying to install `gifski` on Google Colab:
[code]
But the following error arises:
[code]
So, is it possible to install and use `gifski` on Colab?

[2022-06-08 13:33] #275 closed

[2022-06-24 19:25] RyannDaGreat opened #277 "Feature Request: Dithering"
Does gifski use dithering? On the videos I made it looks like it doesn't

[2022-06-24 20:19] kornelski commented on #277
Can you share a screenshot or frames you've used to make the video?

[2022-08-10 11:20] LucidSamuel opened #279 "Feature Request: Shortcuts"
I think implementing the shortcuts feature would make the user experience of Gifski easier to use.

[2022-08-10 11:24] sindresorhus commented on #279
Duplicate of #246

[2022-08-10 11:24] #279 closed

[2022-09-02 20:18] hazeycode commented on #108
@sindresorhus thanks for awarding the bounty! :)

[2022-09-18 20:22] hazeycode commented on #136
Is anyone already working on this? I can take a shot at it if not

[2022-09-27 18:13] GameChanged opened #282 "[Feature Request] - Support for Converting PNG Sequences to GIFs"
Would love to see support for converting PNG Sequences to GIFs

PS - LOVE this app 👏 Amazing